In [1]:
import pandas as pd
import numpy as np
import warnings
from sqlalchemy import create_engine

In [2]:
warnings.filterwarnings('ignore')

In [3]:
engine = create_engine("mysql+pymysql://root:dushi%401611@localhost:3306/jobma_database")

In [4]:
catcher_df = pd.read_sql('Select * FROM jobma_catcher', con=engine) # Done
wallet_df = pd.read_sql('Select * FROM wallet', con=engine) # Done 
subscription_df = pd.read_sql('Select * FROM subscription_history', con=engine) # Done
invitation_df = pd.read_sql('Select * FROM jobma_pitcher_invitations', con=engine) # Done
job_posting_df = pd.read_sql('Select * FROM jobma_employer_job_posting', con=engine) # Done
kit_df = pd.read_sql('Select * FROM job_assessment_kit', con=engine) # Done


# jobma pit applied job

In [5]:
company_df = catcher_df[['jobma_catcher_id','jobma_catcher_company']]

# Dropping Columns from Catcher

In [7]:
catcher_df.drop(['jobma_catcher_fname',
                 'jobma_catcher_lname',
                 'jobma_catcher_dob',
                 'jobma_catcher_video_status',
                 'sec_ques_id',
                 'security_ans',
                 'jobma_about_company',
                 'jobma_functional',
                 'jobma_catcher_ext',
                 'jobma_catcher_country',
                 'jobma_catcher_zip',
                 'jobma_company_email',
                 'jobma_catcher_email',
                 'jobma_catcher_photo',
                 'jobma_catcher_logo',
                 'jobma_catcher_website',
                 'jobma_company_address',
                 'jobma_catcher_address2',
                 'jobma_catcher_video',
                 'jobma_catcher_city',
                 'jobma_catcher_state',
                 'jobma_catcher_phone',
                 'jobma_catcher_fax',
                 'jobma_catcher_status',
                 'jobma_in_index',
                 'deleted_at',
                 'api_key',
                 'remember_token',
                 'sub_user',
                 'per_sub_user',
                 'call_and_regording_credits',
                 'transcription_credits',
                 'temp_subscription_type',
                 'created_at',
                 'updated_at',
                 'subaccount_permission',
                 'reply_email',
                 'flag',
                 'theme',
                 'ms_teams_chat_reference',
                 'ai_live_interview',
                 'bot_audio',
                 'approval',
                 'jobma_catcher_company',
                'jobma_catcher_title',], axis=1, inplace=True)

In [8]:
catcher_df.columns

Index(['jobma_catcher_id', 'org_type', 'jobma_catcher_indus',
       'jobma_catcher_otype', 'jobma_catcher_creation', 'jobma_catcher_type',
       'jobma_catcher_sub_accounts', 'is_premium', 'jobma_catcher_parent',
       'jobma_catcher_is_deleted', 'jobma_verified', 'data_access',
       'subscription_status', 'interview_rate', 'live_interview_credit',
       'pre_recorded_credit', 'ai_live_interview_credit', 'credit_value',
       'interview_cost_type', 'subscription_type', 'phone_call_cost_type',
       'jobma_support_rtc', 'interview_question', 'video_recording_suppport',
       'sing_up_canditate_after_apply', 'currency', 'referral_credit',
       'company_size', 'jobma_auto_recording_status',
       'jobma_scenario_question_status'],
      dtype='object')

In [9]:
catcher_df.isnull().sum()

jobma_catcher_id                     0
org_type                             0
jobma_catcher_indus               1546
jobma_catcher_otype                  0
jobma_catcher_creation               0
jobma_catcher_type                2247
jobma_catcher_sub_accounts           0
is_premium                           0
jobma_catcher_parent                 0
jobma_catcher_is_deleted          7415
jobma_verified                       0
data_access                          0
subscription_status                  0
interview_rate                       0
live_interview_credit                0
pre_recorded_credit                  0
ai_live_interview_credit             0
credit_value                         0
interview_cost_type                  0
subscription_type                    0
phone_call_cost_type                 0
jobma_support_rtc                    0
interview_question                   0
video_recording_suppport             0
sing_up_canditate_after_apply        0
currency                             0
referral_credit                      0
company_size                      1738
jobma_auto_recording_status          0
jobma_scenario_question_status       0
dtype: int64

# Fixing jobma_catcher data

In [11]:
catcher_df.rename(columns= {'jobma_catcher_indus' : 'jobma_catcher_industry'})

,jobma_catcher_id,org_type,jobma_catcher_industry,jobma_catcher_otype,jobma_catcher_creation,jobma_catcher_type,jobma_catcher_sub_accounts,is_premium,jobma_catcher_parent,jobma_catcher_is_deleted,...,phone_call_cost_type,jobma_support_rtc,interview_question,video_recording_suppport,sing_up_canditate_after_apply,currency,referral_credit,company_size,jobma_auto_recording_status,jobma_scenario_question_status
0,1,1,None,,2023-06-21,None,0,0,8464,None,...,0,2,10,2,0,0,0,1-25,0,0
1,92,,,1,2016-11-22,1,,1,0,0,...,0,0,3,2,0,0,0,None,0,0
2,96,employer,IT-Software/Software Services,,2016-01-20,0,,0,709,None,...,0,0,3,2,0,0,0,None,0,0
3,106,employer,IT-Software/Software Services,,2012-12-08,0,,1,0,1,...,0,0,3,2,0,0,0,None,0,0
4,117,employer,"Computer (Hardware, Software, & IT)",1,2013-09-17,0,,0,92,1,...,0,0,3,2,0,0,0,None,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7667,9437,1,None,,2025-03-11,None,0,0,8565,None,...,0,2,10,2,0,0,0,1-25,0,0
7668,9439,1,None,,2025-03-11,None,0,0,8565,None,...,0,2,10,2,0,0,0,1-25,0,0
7669,9441,1,None,,2025-03-11,None,0,0,8565,None,...,0,2,10,2,0,0,0,1-25,0,0
7670,9443,,None,,2025-03-12,None,0,0,1873,None,...,0,2,10,2,0,0,0,500-1000,0,0
7671,9445,1,74,,0000-00-00,1,,0,0,None,...,0,2,10,2,0,0,0,1-25,0,0

In [12]:
''' Replacing 0 with No, 1 with Yes and Null Values with No in Jobma_Catcher_is_Deleted '''

catcher_df['jobma_catcher_is_deleted'] = catcher_df['jobma_catcher_is_deleted'].replace({'0':'No', '1':'Yes', np.nan:'No'})

In [13]:
catcher_df['jobma_catcher_is_deleted'].unique()

array(['No', 'Yes'], dtype=object)

In [14]:
''' Filling Null Values in Company_Size with Unknown '''

catcher_df['company_size'].fillna('Unknown', inplace=True)
catcher_df['jobma_catcher_type'].fillna('0', inplace=True)

In [15]:
catcher_df['jobma_catcher_type'].unique()

array(['0', '1'], dtype=object)

In [16]:
catcher_df.isnull().sum()

jobma_catcher_id                     0
org_type                             0
jobma_catcher_indus               1546
jobma_catcher_otype                  0
jobma_catcher_creation               0
jobma_catcher_type                   0
jobma_catcher_sub_accounts           0
is_premium                           0
jobma_catcher_parent                 0
jobma_catcher_is_deleted             0
jobma_verified                       0
data_access                          0
subscription_status                  0
interview_rate                       0
live_interview_credit                0
pre_recorded_credit                  0
ai_live_interview_credit             0
credit_value                         0
interview_cost_type                  0
subscription_type                    0
phone_call_cost_type                 0
jobma_support_rtc                    0
interview_question                   0
video_recording_suppport             0
sing_up_canditate_after_apply        0
currency                             0
referral_credit                      0
company_size                         0
jobma_auto_recording_status          0
jobma_scenario_question_status       0
dtype: int64

In [17]:
catcher_df.shape

(7672, 30)

In [18]:
'''Filling Missing Values'''

def fill_missing_values(df):
    df = df.copy()
    for col in df.columns:
        if df[col].dtype.kind in ['i']:  # integer
            df[col] = df[col].fillna(0)
        elif df[col].dtype.kind in ['f']:  # float
            df[col] = df[col].fillna(0.0)
        elif df[col].dtype == object:
            df[col] = df[col].fillna('Unknown')
        else:
            df[col] = df[col].fillna(df[col].mode()[0])  # fallback
    return df

In [19]:
catcher_df = fill_missing_values(catcher_df)

In [20]:
catcher_df.isnull().sum()

jobma_catcher_id                  0
org_type                          0
jobma_catcher_indus               0
jobma_catcher_otype               0
jobma_catcher_creation            0
jobma_catcher_type                0
jobma_catcher_sub_accounts        0
is_premium                        0
jobma_catcher_parent              0
jobma_catcher_is_deleted          0
jobma_verified                    0
data_access                       0
subscription_status               0
interview_rate                    0
live_interview_credit             0
pre_recorded_credit               0
ai_live_interview_credit          0
credit_value                      0
interview_cost_type               0
subscription_type                 0
phone_call_cost_type              0
jobma_support_rtc                 0
interview_question                0
video_recording_suppport          0
sing_up_canditate_after_apply     0
currency                          0
referral_credit                   0
company_size                      0
jobma_auto_recording_status       0
jobma_scenario_question_status    0
dtype: int64

In [21]:
catcher_df.duplicated().sum()

0

# Dropping Columns from Wallet

In [23]:
wallet_df.columns

Index(['id', 'catcher_id', 'credit_amount', 'wallet_amount',
       'subscription_type', 'plan_type', 'is_unlimited', 'premium_storage',
       'trial_account_type', 'gst_code', 'billing_cycle',
       'billing_cycle_status', 'created_at', 'updated_at'],
      dtype='object')

In [24]:
''' Here some columns like (created_at and updated_at could become useful (depends on usecase)) '''

wallet_df.drop(['id',
                'gst_code',
                'trial_account_type',
                'billing_cycle',
                'billing_cycle_status',
                'created_at',
                'updated_at'], axis=1, inplace=True)

# Fixing wallet data

In [26]:
yes_no_columns = ['subscription_type', 'plan_type', 'is_unlimited', 'premium_storage']

for col in yes_no_columns:
    wallet_df[col] = wallet_df[col].replace({'0':'No', '1':'Yes'})

In [27]:
wallet_df = wallet_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [28]:
wallet_df.isnull().sum()

jobma_catcher_id        0
credit_amount        5397
wallet_amount           0
subscription_type       0
plan_type               0
is_unlimited            0
premium_storage         0
dtype: int64

In [29]:
wallet_df.shape

(5562, 7)

In [30]:
wallet_df.head()

,jobma_catcher_id,credit_amount,wallet_amount,subscription_type,plan_type,is_unlimited,premium_storage
0,669,NaN,0.0,No,No,No,0
1,92,NaN,34.0,No,No,No,0
2,898,NaN,0.0,No,No,No,0
3,912,NaN,0.0,No,No,No,0
4,92,NaN,3.0,No,No,No,0

In [31]:
''' Filling Missing Values '''

wallet_df = fill_missing_values(wallet_df)

In [32]:
wallet_df.drop_duplicates(inplace=True)

In [33]:
wallet_df.duplicated().sum()

0

# Dropping Columns from Subscription History

In [35]:
subscription_df.columns

Index(['id', 'catcher_id', 'catcher_username', 'catcher_email', 'sub_user_id',
       'subscription_id', 'premium_plan_id', 'premium_plan', 'transaction_id',
       'subscription_amount', 'credit_given', 'paypal_profile_id',
       'paypal_payer_id', 'expiry_date', 'currency', 'premium_storage', 'igst',
       'cgst', 'gst_code', 'currency_val', 'recurring_data', 'payment_mode',
       'status', 'payment_status', 'e_invoice', 'cheque_number', 'banker',
       'cheque_amount', 'cheque_image', 'cancel_date', 'invoice_suffix',
       'radioGstValue', 'created_at', 'updated_at'],
      dtype='object')

In [36]:
subscription_df.drop(['id',
                      'catcher_username',
                      'catcher_email',
                      'sub_user_id',
                      'subscription_id',
                      'premium_plan_id',
                      'transaction_id',
                      'paypal_profile_id',
                      'paypal_payer_id',
                      'igst',
                      'cgst',
                      'gst_code',
                      'recurring_data',
                      'cheque_number',
                      'banker',
                      'cheque_amount',
                      'cheque_image',
                      'cancel_date',
                      'invoice_suffix',
                      'radioGstValue',
                      'currency_val',
                     'premium_plan',
                      'expiry_date',
                      'created_at',
                      'updated_at'
                     ], axis=1, inplace=True)

In [37]:
subscription_df = subscription_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [38]:
subscription_df.columns

Index(['jobma_catcher_id', 'subscription_amount', 'credit_given', 'currency',
       'premium_storage', 'payment_mode', 'status', 'payment_status',
       'e_invoice'],
      dtype='object')

In [39]:
subscription_df['number_of_transactions'] = subscription_df['jobma_catcher_id'].map(subscription_df['jobma_catcher_id'].value_counts())

In [46]:
subscription_df = subscription_df.groupby('jobma_catcher_id').agg({
    'subscription_amount': 'sum',
    'credit_given': 'sum',
    'currency': lambda x: x.mode()[0] if not x.mode().empty else None,
    'premium_storage': 'max',
    'payment_mode': lambda x: x.mode()[0] if not x.mode().empty else None,
    'status': lambda x: x.mode()[0] if not x.mode().empty else None,
    'payment_status': lambda x: x.mode()[0] if not x.mode().empty else None,
    'e_invoice': lambda x: x.mode()[0] if not x.mode().empty else None,
    'number_of_transactions': 'sum'
}).reset_index()

In [48]:
''' Filling Missing Values '''

subscription_df = fill_missing_values(subscription_df)

In [50]:
subscription_df.drop_duplicates(inplace=True)

# Extracting Feature(No. of interviews taken by catcher) from invitation_df

In [52]:
invitation_df.columns

Index(['id', 'jobma_post_id', 'jobma_catcher_id', 'jobma_pitcher_id',
       'applied_id', 'is_invited', 'jobma_pitcher_email',
       'jobma_invitation_date', 'jobma_invitation_expire_date',
       'interview_start_time', 'interview_end_time', 'invitation_timezone',
       'jobma_invitation_message', 'jobma_interview_round', 'stages',
       'jobma_interview_mode', 'jobma_interview_room', 'jobma_interview_token',
       'pre_recorded_token', 'jobma_interview_status', 'assessment_kit_id',
       'assessment_question_set', 'pre_screening', 'pre_screen_qualify',
       'application_settings', 'practice_question', 'interview_type',
       'answer_duration', 'interview_time_lapse',
       'interview_complete_notified_email', 'jobseeker_signup_confirmation',
       'signup_form_options', 'can_request_retake', 'active',
       'prerecorded_email_notification', 'br_id', 'integration_source',
       'callback_url', 'acceptation', 'reject_reason',
       'auto_send_reminder_max', 'interview_platform_status', 'source',
       'live_interview_source', 'live_interview_data', 'deleted_at',
       'created_at', 'updated_at'],
      dtype='object')

In [54]:
invitation_df['number_of_invitations'] = invitation_df['jobma_catcher_id'].map(invitation_df['jobma_catcher_id'].value_counts())

In [56]:
invitation_df = invitation_df[['jobma_catcher_id', 'number_of_invitations']]

In [58]:
invitation_df.drop_duplicates(inplace=True)

In [60]:
invitation_df[invitation_df['jobma_catcher_id'] == 1520]

   jobma_catcher_id  number_of_invitations
1              1520                     63

In [62]:
''' Filling Missing Values '''

invitation_df = fill_missing_values(invitation_df)

In [64]:
invitation_df.drop_duplicates(inplace=True)

# Dropping Columns from jobma_employer_job_posting

In [67]:
job_posting_df.columns

Index(['jobma_job_post_id', 'taleo_job_id', 'jobma_catcher_id',
       'job_assessment_kit_id', 'ai_live_kit_id', 'jobma_job_title', 'slug',
       'jobma_job_description', 'jobma_job_notes', 'jobma_job_type',
       'job_dur_year', 'job_dur_month', 'jobma_job_min_exp',
       'jobma_job_max_exp', 'jobma_job_min_salary', 'jobma_job_max_salary',
       'jobma_job_sal_negotiable', 'jobma_job_sal_comments',
       'jobma_job_qualification', 'jobma_job_locations', 'jobma_job_industry',
       'jobma_job_functional_areas', 'jobma_job_keywords',
       'jobma_job_currency', 'jobma_job_salary_type',
       'jobma_job_recruiter_name', 'jobma_job_recruiter_email',
       'jobma_job_recruiter_phone', 'jobma_job_recruiter_ext',
       'jobma_job_recruiter_website', 'jobma_job_company_name',
       'jobma_job_company_profile', 'jobma_job_company_website',
       'jobma_job_company_url_redirect', 'jobma_job_notice_period',
       'jobma_job_expiry_date', 'jobma_job_apply_count',
       'jobma_job_view_count', 'jobma_job_inactive_date',
       'jobma_job_inactive_reason', 'jobma_job_company_show',
       'jobma_job_recruiter_show', 'jobma_job_interview_questions_ids',
       'jobma_question_think_time', 'jobma_question_takes',
       'jobma_job_interview_questions_durations', 'jobma_job_video_link',
       'jobma_job_video_status', 'video_flag', 'jobma_job_status',
       'jobma_job_filename', 'approval', 'jobma_job_paper_ids',
       'optional_ques', 'optional_ques_text', 'job_subscription_status',
       'won_source_job_id', 'won_profile_name', 'won_job_status',
       'applicant_count', 'is_deleted', 'is_hot', 'source', 'source_id',
       'is_private_job', 'google_schema', 'monster_post_id', 'bamboo_job_id',
       'created_at', 'updated_at', 'jobma_job_created_date',
       'ai_rating_params'],
      dtype='object')

In [69]:
job_posting_df.drop(['taleo_job_id',
                     'jobma_job_description',
                     'jobma_job_notes',
                     'job_dur_year',
                     'job_dur_month',
                     'jobma_job_min_exp',
                     'jobma_job_max_exp',
                     'jobma_job_min_salary',
                     'jobma_job_max_salary',
                     'jobma_job_sal_negotiable',
                     'jobma_job_sal_comments',
                     'jobma_job_qualification',
                     'jobma_job_locations',
                     'jobma_job_recruiter_website',
                     'jobma_job_company_website',
                     'jobma_job_company_url_redirect',
                     'jobma_job_notice_period',
                     'jobma_job_expiry_date',
                     'won_source_job_id',
                     'won_profile_name',
                     'jobma_job_recruiter_phone',
                     'jobma_job_recruiter_ext',
                     'won_job_status',
                     'is_deleted',
                     'jobma_job_salary_type',
                     'is_hot',
                     'jobma_job_recruiter_name',
                     'optional_ques',
                     'optional_ques_text',
                     'source',
                     'source_id',
                     'is_private_job',
                     'google_schema',
                     'monster_post_id',
                     'bamboo_job_id',
                     'jobma_job_video_link',
                     'jobma_job_video_status',
                     'video_flag',
                     'jobma_job_recruiter_email',
                     'jobma_job_status',
                     'jobma_job_filename',
                     'jobma_job_paper_ids',
                     'jobma_job_company_show',
                     'jobma_job_recruiter_show',
                     'created_at',
                     'jobma_job_interview_questions_ids',
                     'jobma_question_think_time',
                     'jobma_question_takes',
                     'jobma_job_interview_questions_durations',
                     'updated_at',
                     'jobma_job_created_date',
                     'ai_rating_params',
                     'jobma_job_post_id',
                     'job_assessment_kit_id',
                     'ai_live_kit_id',
                     'jobma_job_inactive_date',
                     'jobma_job_inactive_reason'
                    ], axis=1,inplace=True)

In [71]:
job_posting_df.columns

Index(['jobma_catcher_id', 'jobma_job_title', 'slug', 'jobma_job_type',
       'jobma_job_industry', 'jobma_job_functional_areas',
       'jobma_job_keywords', 'jobma_job_currency', 'jobma_job_company_name',
       'jobma_job_company_profile', 'jobma_job_apply_count',
       'jobma_job_view_count', 'approval', 'job_subscription_status',
       'applicant_count'],
      dtype='object')

In [73]:
job_posting_df = job_posting_df.groupby('jobma_catcher_id').agg({
    'jobma_job_title': 'count',  # number of jobs posted
    'jobma_job_type': lambda x: x.mode()[0] if not x.mode().empty else None,
    'jobma_job_industry': lambda x: x.mode()[0] if not x.mode().empty else None,
    'jobma_job_functional_areas': lambda x: x.mode()[0] if not x.mode().empty else None,
    'jobma_job_currency': lambda x: x.mode()[0] if not x.mode().empty else None,
    'jobma_job_company_name': lambda x: x.mode()[0] if not x.mode().empty else None,
    'jobma_job_apply_count': 'sum',
    'jobma_job_view_count': 'sum',
    'approval': lambda x: x.mean() if x.dtype != 'O' else x.mode()[0],  # smart handling
    'job_subscription_status': lambda x: x.mode()[0] if not x.mode().empty else None,
    'applicant_count': 'sum'
}).rename(columns={
    'jobma_job_title': 'total_jobs_posted'
}).reset_index()

In [75]:
''' Filling Missing Values '''

job_posting_df = fill_missing_values(job_posting_df)

In [77]:
job_posting_df.drop_duplicates(inplace=True)

# Fetching number of kits created by catcher from job_assessment_kit

In [79]:
kit_df = kit_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [81]:
kit_df.columns

Index(['id', 'jobma_catcher_id', 'title', 'slug', 'answer_duration',
       'interview_type', 'question_set', 'pre_screening', 'ques_ids',
       'weightage', 'weightage_data', 'description', 'price', 'currency',
       'expiry', 'status', 'is_active', 'offer_status', 'sr_id', 'main_sr_id',
       'node_id', 'random_ques', 'random_options', 'is_streaming',
       'deleted_at', 'created_at', 'updated_at'],
      dtype='object')

In [83]:
kit_df['number_of_kits'] = kit_df['jobma_catcher_id'].map(kit_df['jobma_catcher_id'].value_counts())

In [85]:
kit_df = kit_df[['jobma_catcher_id', 'number_of_kits']]

In [87]:
''' Filling Missing Values '''

kit_df = fill_missing_values(kit_df)

In [89]:
kit_df.drop_duplicates(inplace=True)

# Merging Tables

In [ ]:
# wallet_subscription_df = pd.merge(wallet_df, subscription_df,  on='jobma_catcher_id', how='inner')

In [ ]:
# wallet_subscription_df.drop_duplicates(inplace=True)

In [ ]:
# catcher_wallet_subscription_df = pd.merge(wallet_subscription_df, catcher_df,  on='jobma_catcher_id', how='inner')

In [ ]:
# catcher_wallet_subscription_df.drop_duplicates(inplace=True)

In [ ]:
# catcher_kit_wallet_subscription_df = pd.merge(catcher_wallet_subscription_df, kit_df,  on='jobma_catcher_id', how='inner')

In [ ]:
# catcher_kit_wallet_subscription_df.drop_duplicates(inplace=True)

In [ ]:
# catcher_invitation_kit_wallet_subscription_df = pd.merge(catcher_kit_wallet_subscription_df, invitation_df,  on='jobma_catcher_id', how='inner')

In [ ]:
# catcher_invitation_kit_wallet_subscription_df.drop_duplicates(inplace=True)

In [ ]:
# catcher_invitation_kit_wallet_subscription_job_posting_df = pd.merge(catcher_invitation_kit_wallet_subscription_df, job_posting_df,  on='jobma_catcher_id', how='inner')

In [ ]:
# catcher_invitation_kit_wallet_subscription_job_posting_df.drop_duplicates(inplace=True)

In [ ]:
# catcher_invitation_kit_wallet_subscription_job_posting_df.shape

In [ ]:
# catcher_invitation_kit_wallet_subscription_job_posting_df.isnull().sum()

In [ ]:
# catcher_invitation_kit_wallet_subscription_job_posting_df.drop(['e_invoice',
#                                                                 'created_at',
#                                                                 'updated_at',
#                                                                 'currency_x',
#                                                                 'currency_y',
#                                                                 'jobma_job_company_name',
#                                                                 'expiry_date',
#                                                                 'jobma_job_industry'], axis=1, inplace=True)

In [ ]:
# catcher_invitation_kit_wallet_subscription_job_posting_df.isnull().sum()[catcher_invitation_kit_wallet_subscription_job_posting_df.isnull().sum() > 100]

In [ ]:
# catcher_invitation_kit_wallet_subscription_job_posting_df.to_csv("data_collection.csv", index=False)

In [ ]:
# catcher_invitation_kit_wallet_subscription_job_posting_df.info()

In [91]:
print(f'Catcher df shape is {catcher_df.shape}')
print(f'Wallet df shape is {wallet_df.shape}')
print(f'Subscription df shape is {subscription_df.shape}')
print(f'Invitation df shape is {invitation_df.shape}')
print(f'Job Posting df shape is {job_posting_df.shape}')
print(f'Number of Kit df shape is {kit_df.shape}')

Catcher df shape is (7672, 30)
Wallet df shape is (5561, 7)
Subscription df shape is (5560, 10)
Invitation df shape is (1018, 2)
Job Posting df shape is (1292, 12)
Number of Kit df shape is (1082, 2)

# Merging DataFrames based on jobma_catcher_id and created_at

In [93]:
print("Catcher:", catcher_df['jobma_catcher_id'].nunique(), "/", catcher_df.shape[0])
print("Wallet:", wallet_df['jobma_catcher_id'].nunique(), "/", wallet_df.shape[0])
print("Subscription:", subscription_df['jobma_catcher_id'].nunique(), "/", subscription_df.shape[0])
print("Invitation:", invitation_df['jobma_catcher_id'].nunique(), "/", invitation_df.shape[0])  # assuming job_id
print("Job Posting:", job_posting_df['jobma_catcher_id'].nunique(), "/", job_posting_df.shape[0])
print("Number of Kit:", kit_df['jobma_catcher_id'].nunique(), "/", kit_df.shape[0])

Catcher: 7672 / 7672
Wallet: 5560 / 5561
Subscription: 5560 / 5560
Invitation: 1018 / 1018
Job Posting: 1292 / 1292
Number of Kit: 1082 / 1082

In [96]:
merged_df = pd.merge(wallet_df, catcher_df, on='jobma_catcher_id', how='left')

merged_df = pd.merge(merged_df, subscription_df, on='jobma_catcher_id', how='inner')

merged_df = pd.merge(job_posting_df, merged_df, on='jobma_catcher_id', how='inner')

merged_df = pd.merge(merged_df, invitation_df, on='jobma_catcher_id', how='inner')

merged_df = pd.merge(merged_df, kit_df, on='jobma_catcher_id', how='inner')

In [98]:
print(merged_df.shape)

(553, 58)