In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
engine = create_engine("mysql+pymysql://root:dushi%401611@localhost:3306/jobma_database")

In [4]:
catcher_df = pd.read_sql('Select * FROM jobma_catcher', con=engine) # Done
wallet_df = pd.read_sql('Select * FROM wallet', con=engine) # Done 
subscription_df = pd.read_sql('Select * FROM subscription_history', con=engine) # Done
invitation_df = pd.read_sql('Select * FROM jobma_pitcher_invitations', con=engine) # Done
job_posting_df = pd.read_sql('Select * FROM jobma_employer_job_posting', con=engine) 
kit_df = pd.read_sql('Select * FROM job_assessment_kit', con=engine)


# jobma pit applied job
# job assess kits

In [5]:
catcher_df.shape

(7672, 75)

In [6]:
invitation_df.shape

(54691, 48)

In [7]:
job_posting_df.shape

(16742, 72)

In [8]:
kit_df.shape

(5852, 27)

In [9]:
catcher_df.head()

,jobma_catcher_id,jobma_catcher_fname,jobma_catcher_lname,jobma_catcher_dob,jobma_catcher_video_status,jobma_catcher_company,org_type,sec_ques_id,security_ans,jobma_about_company,...,referral_credit,company_size,theme,flag,jobma_auto_recording_status,jobma_scenario_question_status,ai_live_interview,ms_teams_chat_reference,bot_audio,approval
0,1,jayant,,None,None,Jobma,1,0,,,...,0,1-25,0,0,0,0,0,None,1,0
1,92,,,2016-11-22,1,Select Source International,,1,,Select Source International is a Global Soluti...,...,0,None,0,0,0,0,0,None,1,0
2,96,Gaurav,Arora,2016-11-01,1,Select Source International,employer,0,,Select Source International is a Global Soluti...,...,0,None,0,0,0,0,0,None,1,0
3,106,,,2016-09-26,1,Singhal System Solutions Pvt. Ltd.,employer,0,,IT Company,...,0,None,0,0,0,0,0,None,1,0
4,117,Krishna,Kant,2016-09-26,1,Select Source International,employer,0,,Select Source International is a Global Soluti...,...,0,None,0,0,0,0,0,None,1,0

In [10]:
catcher_df.shape

(7672, 75)

In [11]:
catcher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 75 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                7672 non-null   int64
 1   jobma_catcher_fname             7672 non-null   object
 2   jobma_catcher_lname             7672 non-null   object
 3   jobma_catcher_dob               1071 non-null   object
 4   jobma_catcher_video_status      2018 non-null   object
 5   jobma_catcher_company           7672 non-null   object
 6   org_type                        7672 non-null   object
 7   sec_ques_id                     7672 non-null   int64
 8   security_ans                    7672 non-null   object
 9   jobma_about_company             7672 non-null   object
 10  jobma_functional                7672 non-null   object
 11  jobma_catcher_indus             6126 non-null   object
 12  jobma_company_email             7672 non-null   object
 13  jobma_catcher_email             7672 non-null   object
 14  jobma_catcher_title             7672 non-null   int64
 15  jobma_catcher_ext               7672 non-null   object
 16  jobma_catcher_otype             7672 non-null   object
 17  jobma_catcher_photo             7672 non-null   object
 18  jobma_catcher_logo              104 non-null    object
 19  jobma_catcher_website           7672 non-null   object
 20  jobma_company_address           7672 non-null   object
 21  jobma_catcher_address2          972 non-null    object
 22  jobma_catcher_video             7672 non-null   object
 23  jobma_catcher_city              7672 non-null   int64
 24  jobma_catcher_state             7672 non-null   int64
 25  jobma_catcher_country           7672 non-null   int64
 26  jobma_catcher_zip               7672 non-null   object
 27  jobma_catcher_fax               6308 non-null   object
 28  jobma_catcher_phone             7672 non-null   object
 29  jobma_catcher_status            7649 non-null   object
 30  jobma_catcher_creation          7672 non-null   object
 31  jobma_catcher_type              5425 non-null   object
 32  jobma_catcher_sub_accounts      7672 non-null   object
 33  is_premium                      7672 non-null   object
 34  jobma_catcher_parent            7672 non-null   int64
 35  jobma_catcher_is_deleted        257 non-null    object
 36  jobma_verified                  7672 non-null   object
 37  jobma_in_index                  7354 non-null   object
 38  data_access                     7672 non-null   object
 39  subscription_status             7672 non-null   object
 40  interview_rate                  7672 non-null   float64
 41  remember_token                  7672 non-null   object
 42  deleted_at                      459 non-null    datetime64[ns]
 43  api_key                         7672 non-null   object
 44  sub_user                        7672 non-null   int64
 45  per_sub_user                    7672 non-null   object
 46  live_interview_credit           7672 non-null   float64
 47  pre_recorded_credit             7672 non-null   float64
 48  ai_live_interview_credit        7672 non-null   float64
 49  credit_value                    7672 non-null   int64
 50  interview_cost_type             7672 non-null   object
 51  subscription_type               7672 non-null   object
 52  phone_call_cost_type            7672 non-null   object
 53  call_and_regording_credits      82 non-null     float64
 54  transcription_credits           82 non-null     float64
 55  temp_subscription_type          7672 non-null   object
 56  created_at                      7672 non-null   datetime64[ns]
 57  updated_at                      7672 non-null   datetime64[ns]
 58  jobma_support_rtc               7672 non-null   object
 59  interview_question              7672 non-null   int64
 60  video_recording_suppport        7672 non-null   object
 61  subaccount_permission           7670 non-null   object
 62  reply_email                     1 non-null      object
 63  sing_up_canditate_after_apply   7672 non-null   object
 64  currency                        7672 non-null   object
 65  referral_credit                 7672 non-null   int64
 66  company_size                    5934 non-null   object
 67  theme                           7672 non-null   object
 68  flag                            7672 non-null   object
 69  jobma_auto_recording_status     7672 non-null   object
 70  jobma_scenario_question_status  7672 non-null   object
 71  ai_live_interview               7672 non-null   object
 72  ms_teams_chat_reference         1 non-null      object
 73  bot_audio                       7672 non-null   int64
 74  approval                        7672 non-null   object
dtypes: datetime64[ns](3), float64(6), int64(12), object(54)
memory usage: 4.4+ MB

# Dropping Columns from Catcher

In [13]:
catcher_df.drop(['jobma_catcher_fname',
                 'jobma_catcher_lname',
                 'jobma_catcher_dob',
                 'jobma_catcher_video_status',
                 'sec_ques_id',
                 'security_ans',
                 'jobma_about_company',
                 'jobma_functional',
                 'jobma_catcher_ext',
                 'jobma_catcher_country',
                 'jobma_catcher_zip',
                 'jobma_company_email',
                 'jobma_catcher_email',
                 'jobma_catcher_photo',
                 'jobma_catcher_logo',
                 'jobma_catcher_website',
                 'jobma_company_address',
                 'jobma_catcher_address2',
                 'jobma_catcher_video',
                 'jobma_catcher_city',
                 'jobma_catcher_state',
                 'jobma_catcher_phone',
                 'jobma_catcher_fax',
                 'jobma_catcher_status',
                 'jobma_in_index',
                 'deleted_at',
                 'api_key',
                 'remember_token',
                 'sub_user',
                 'per_sub_user',
                 'call_and_regording_credits',
                 'transcription_credits',
                 'temp_subscription_type',
                 'created_at',
                 'updated_at',
                 'subaccount_permission',
                 'reply_email',
                 'flag',
                 'theme',
                 'ms_teams_chat_reference',
                 'ai_live_interview',
                 'bot_audio',
                 'approval'], axis=1, inplace=True)

In [14]:
catcher_df.columns

Index(['jobma_catcher_id', 'jobma_catcher_company', 'org_type',
       'jobma_catcher_indus', 'jobma_catcher_title', 'jobma_catcher_otype',
       'jobma_catcher_creation', 'jobma_catcher_type',
       'jobma_catcher_sub_accounts', 'is_premium', 'jobma_catcher_parent',
       'jobma_catcher_is_deleted', 'jobma_verified', 'data_access',
       'subscription_status', 'interview_rate', 'live_interview_credit',
       'pre_recorded_credit', 'ai_live_interview_credit', 'credit_value',
       'interview_cost_type', 'subscription_type', 'phone_call_cost_type',
       'jobma_support_rtc', 'interview_question', 'video_recording_suppport',
       'sing_up_canditate_after_apply', 'currency', 'referral_credit',
       'company_size', 'jobma_auto_recording_status',
       'jobma_scenario_question_status'],
      dtype='object')

In [15]:
catcher_df.isnull().sum()

jobma_catcher_id                     0
jobma_catcher_company                0
org_type                             0
jobma_catcher_indus               1546
jobma_catcher_title                  0
jobma_catcher_otype                  0
jobma_catcher_creation               0
jobma_catcher_type                2247
jobma_catcher_sub_accounts           0
is_premium                           0
jobma_catcher_parent                 0
jobma_catcher_is_deleted          7415
jobma_verified                       0
data_access                          0
subscription_status                  0
interview_rate                       0
live_interview_credit                0
pre_recorded_credit                  0
ai_live_interview_credit             0
credit_value                         0
interview_cost_type                  0
subscription_type                    0
phone_call_cost_type                 0
jobma_support_rtc                    0
interview_question                   0
video_recording_suppport             0
sing_up_canditate_after_apply        0
currency                             0
referral_credit                      0
company_size                      1738
jobma_auto_recording_status          0
jobma_scenario_question_status       0
dtype: int64

# Fixing jobma_catcher data

In [17]:
catcher_df.rename(columns= {'jobma_catcher_indus' : 'jobma_catcher_industry'})

,jobma_catcher_id,jobma_catcher_company,org_type,jobma_catcher_industry,jobma_catcher_title,jobma_catcher_otype,jobma_catcher_creation,jobma_catcher_type,jobma_catcher_sub_accounts,is_premium,...,phone_call_cost_type,jobma_support_rtc,interview_question,video_recording_suppport,sing_up_canditate_after_apply,currency,referral_credit,company_size,jobma_auto_recording_status,jobma_scenario_question_status
0,1,Jobma,1,None,0,,2023-06-21,None,0,0,...,0,2,10,2,0,0,0,1-25,0,0
1,92,Select Source International,,,0,1,2016-11-22,1,,1,...,0,0,3,2,0,0,0,None,0,0
2,96,Select Source International,employer,IT-Software/Software Services,0,,2016-01-20,0,,0,...,0,0,3,2,0,0,0,None,0,0
3,106,Singhal System Solutions Pvt. Ltd.,employer,IT-Software/Software Services,0,,2012-12-08,0,,1,...,0,0,3,2,0,0,0,None,0,0
4,117,Select Source International,employer,"Computer (Hardware, Software, & IT)",0,1,2013-09-17,0,,0,...,0,0,3,2,0,0,0,None,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7667,9437,JOBMA,1,None,0,,2025-03-11,None,0,0,...,0,2,10,2,0,0,0,1-25,0,0
7668,9439,JOBMA,1,None,0,,2025-03-11,None,0,0,...,0,2,10,2,0,0,0,1-25,0,0
7669,9441,JOBMA,1,None,0,,2025-03-11,None,0,0,...,0,2,10,2,0,0,0,1-25,0,0
7670,9443,Jobma,,None,0,,2025-03-12,None,0,0,...,0,2,10,2,0,0,0,500-1000,0,0
7671,9445,Jobma,1,74,1,,0000-00-00,1,,0,...,0,2,10,2,0,0,0,1-25,0,0

In [18]:
''' Replacing 0 with No, 1 with Yes and Null Values with No in Jobma_Catcher_is_Deleted '''

catcher_df['jobma_catcher_is_deleted'] = catcher_df['jobma_catcher_is_deleted'].replace({'0':'No', '1':'Yes', np.nan:'No'})

In [19]:
catcher_df['jobma_catcher_is_deleted'].unique()

array(['No', 'Yes'], dtype=object)

In [20]:
''' Filling Null Values in Company_Size with Unknown '''

catcher_df['company_size'].fillna('Unknown', inplace=True)
catcher_df['jobma_catcher_type'].fillna('0', inplace=True)

C:\Users\Dushyant\AppData\Local\Temp\ipykernel_4700\1925339826.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  catcher_df['company_size'].fillna('Unknown', inplace=True)
C:\Users\Dushyant\AppData\Local\Temp\ipykernel_4700\1925339826.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  catcher_df['jobma_catcher_type'].fillna('0', inplace=True)

In [21]:
catcher_df['jobma_catcher_type'].unique()

array(['0', '1'], dtype=object)

In [22]:
catcher_df.isnull().sum()

jobma_catcher_id                     0
jobma_catcher_company                0
org_type                             0
jobma_catcher_indus               1546
jobma_catcher_title                  0
jobma_catcher_otype                  0
jobma_catcher_creation               0
jobma_catcher_type                   0
jobma_catcher_sub_accounts           0
is_premium                           0
jobma_catcher_parent                 0
jobma_catcher_is_deleted             0
jobma_verified                       0
data_access                          0
subscription_status                  0
interview_rate                       0
live_interview_credit                0
pre_recorded_credit                  0
ai_live_interview_credit             0
credit_value                         0
interview_cost_type                  0
subscription_type                    0
phone_call_cost_type                 0
jobma_support_rtc                    0
interview_question                   0
video_recording_suppport             0
sing_up_canditate_after_apply        0
currency                             0
referral_credit                      0
company_size                         0
jobma_auto_recording_status          0
jobma_scenario_question_status       0
dtype: int64

In [23]:
catcher_df.shape

(7672, 32)

# Dropping Columns from Wallet

In [25]:
wallet_df.columns

Index(['id', 'catcher_id', 'credit_amount', 'wallet_amount',
       'subscription_type', 'plan_type', 'is_unlimited', 'premium_storage',
       'trial_account_type', 'gst_code', 'billing_cycle',
       'billing_cycle_status', 'created_at', 'updated_at'],
      dtype='object')

In [26]:
''' Here some columns like (created_at and updated_at could become useful (depends on usecase)) '''

wallet_df.drop(['id',
                'gst_code',
                'trial_account_type',
                'billing_cycle',
                'billing_cycle_status',
                'created_at',
                'updated_at'], axis=1, inplace=True)

# Fixing wallet data

In [28]:
yes_no_columns = ['subscription_type', 'plan_type', 'is_unlimited', 'premium_storage']

for col in yes_no_columns:
    wallet_df[col] = wallet_df[col].replace({'0':'No', '1':'Yes'})

In [29]:
wallet_df = wallet_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [30]:
wallet_df.isnull().sum()

jobma_catcher_id        0
credit_amount        5397
wallet_amount           0
subscription_type       0
plan_type               0
is_unlimited            0
premium_storage         0
dtype: int64

In [31]:
wallet_df.shape

(5562, 7)

In [32]:
wallet_df.head()

,jobma_catcher_id,credit_amount,wallet_amount,subscription_type,plan_type,is_unlimited,premium_storage
0,669,NaN,0.0,No,No,No,0
1,92,NaN,34.0,No,No,No,0
2,898,NaN,0.0,No,No,No,0
3,912,NaN,0.0,No,No,No,0
4,92,NaN,3.0,No,No,No,0

# Dropping Columns from Subscription History

In [34]:
subscription_df.columns

Index(['id', 'catcher_id', 'catcher_username', 'catcher_email', 'sub_user_id',
       'subscription_id', 'premium_plan_id', 'premium_plan', 'transaction_id',
       'subscription_amount', 'credit_given', 'paypal_profile_id',
       'paypal_payer_id', 'expiry_date', 'currency', 'premium_storage', 'igst',
       'cgst', 'gst_code', 'currency_val', 'recurring_data', 'payment_mode',
       'status', 'payment_status', 'e_invoice', 'cheque_number', 'banker',
       'cheque_amount', 'cheque_image', 'cancel_date', 'invoice_suffix',
       'radioGstValue', 'created_at', 'updated_at'],
      dtype='object')

In [35]:
subscription_df.drop(['id',
                      'catcher_username',
                      'catcher_email',
                      'sub_user_id',
                      'subscription_id',
                      'premium_plan_id',
                      'transaction_id',
                      'paypal_profile_id',
                      'paypal_payer_id',
                      'igst',
                      'cgst',
                      'gst_code',
                      'recurring_data',
                      'cheque_number',
                      'banker',
                      'cheque_amount',
                      'cheque_image',
                      'cancel_date',
                      'invoice_suffix',
                      'radioGstValue'], axis=1, inplace=True)

In [36]:
subscription_df = subscription_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [37]:
subscription_df.columns

Index(['jobma_catcher_id', 'premium_plan', 'subscription_amount',
       'credit_given', 'expiry_date', 'currency', 'premium_storage',
       'currency_val', 'payment_mode', 'status', 'payment_status', 'e_invoice',
       'created_at', 'updated_at'],
      dtype='object')

In [38]:
subscription_df['number_of_transactions'] = subscription_df['jobma_catcher_id'].map(subscription_df['jobma_catcher_id'].value_counts())

In [39]:
subscription_df.drop_duplicates(inplace=True)

# Extracting Feature(No. of interviews taken by catcher) from invitation_df

In [41]:
invitation_df.columns

Index(['id', 'jobma_post_id', 'jobma_catcher_id', 'jobma_pitcher_id',
       'applied_id', 'is_invited', 'jobma_pitcher_email',
       'jobma_invitation_date', 'jobma_invitation_expire_date',
       'interview_start_time', 'interview_end_time', 'invitation_timezone',
       'jobma_invitation_message', 'jobma_interview_round', 'stages',
       'jobma_interview_mode', 'jobma_interview_room', 'jobma_interview_token',
       'pre_recorded_token', 'jobma_interview_status', 'assessment_kit_id',
       'assessment_question_set', 'pre_screening', 'pre_screen_qualify',
       'application_settings', 'practice_question', 'interview_type',
       'answer_duration', 'interview_time_lapse',
       'interview_complete_notified_email', 'jobseeker_signup_confirmation',
       'signup_form_options', 'can_request_retake', 'active',
       'prerecorded_email_notification', 'br_id', 'integration_source',
       'callback_url', 'acceptation', 'reject_reason',
       'auto_send_reminder_max', 'interview_platform_status', 'source',
       'live_interview_source', 'live_interview_data', 'deleted_at',
       'created_at', 'updated_at'],
      dtype='object')

In [42]:
invitation_df['number_of_invitations'] = invitation_df['jobma_catcher_id'].map(invitation_df['jobma_catcher_id'].value_counts())

In [43]:
invitation_df = invitation_df[['jobma_catcher_id', 'number_of_invitations']]

In [44]:
invitation_df.drop_duplicates(inplace=True)

In [45]:
invitation_df[invitation_df['jobma_catcher_id'] == 1520]

   jobma_catcher_id  number_of_invitations
1              1520                     63

# Dropping Columns from jobma_employer_job_posting

In [47]:
job_posting_df.columns

Index(['jobma_job_post_id', 'taleo_job_id', 'jobma_catcher_id',
       'job_assessment_kit_id', 'ai_live_kit_id', 'jobma_job_title', 'slug',
       'jobma_job_description', 'jobma_job_notes', 'jobma_job_type',
       'job_dur_year', 'job_dur_month', 'jobma_job_min_exp',
       'jobma_job_max_exp', 'jobma_job_min_salary', 'jobma_job_max_salary',
       'jobma_job_sal_negotiable', 'jobma_job_sal_comments',
       'jobma_job_qualification', 'jobma_job_locations', 'jobma_job_industry',
       'jobma_job_functional_areas', 'jobma_job_keywords',
       'jobma_job_currency', 'jobma_job_salary_type',
       'jobma_job_recruiter_name', 'jobma_job_recruiter_email',
       'jobma_job_recruiter_phone', 'jobma_job_recruiter_ext',
       'jobma_job_recruiter_website', 'jobma_job_company_name',
       'jobma_job_company_profile', 'jobma_job_company_website',
       'jobma_job_company_url_redirect', 'jobma_job_notice_period',
       'jobma_job_expiry_date', 'jobma_job_apply_count',
       'jobma_job_view_count', 'jobma_job_inactive_date',
       'jobma_job_inactive_reason', 'jobma_job_company_show',
       'jobma_job_recruiter_show', 'jobma_job_interview_questions_ids',
       'jobma_question_think_time', 'jobma_question_takes',
       'jobma_job_interview_questions_durations', 'jobma_job_video_link',
       'jobma_job_video_status', 'video_flag', 'jobma_job_status',
       'jobma_job_filename', 'approval', 'jobma_job_paper_ids',
       'optional_ques', 'optional_ques_text', 'job_subscription_status',
       'won_source_job_id', 'won_profile_name', 'won_job_status',
       'applicant_count', 'is_deleted', 'is_hot', 'source', 'source_id',
       'is_private_job', 'google_schema', 'monster_post_id', 'bamboo_job_id',
       'created_at', 'updated_at', 'jobma_job_created_date',
       'ai_rating_params'],
      dtype='object')

In [48]:
job_posting_df.drop(['taleo_job_id',
                     'jobma_job_description',
                     'jobma_job_notes',
                     'job_dur_year',
                     'job_dur_month',
                     'jobma_job_min_exp',
                     'jobma_job_max_exp',
                     'jobma_job_min_salary',
                     'jobma_job_max_salary',
                     'jobma_job_sal_negotiable',
                     'jobma_job_sal_comments',
                     'jobma_job_qualification',
                     'jobma_job_locations',
                     'jobma_job_recruiter_website',
                     'jobma_job_company_website',
                     'jobma_job_company_url_redirect',
                     'jobma_job_notice_period',
                     'jobma_job_expiry_date',
                     'won_source_job_id',
                     'won_profile_name',
                     'jobma_job_recruiter_phone',
                     'jobma_job_recruiter_ext',
                     'won_job_status',
                     'is_deleted',
                     'jobma_job_salary_type',
                     'is_hot',
                     'jobma_job_recruiter_name',
                     'optional_ques',
                     'optional_ques_text',
                     'source',
                     'source_id',
                     'is_private_job',
                     'google_schema',
                     'monster_post_id',
                     'bamboo_job_id',
                     'jobma_job_video_link',
                     'jobma_job_video_status',
                     'video_flag',
                     'jobma_job_recruiter_email',
                     'jobma_job_status',
                     'jobma_job_filename',
                     'jobma_job_paper_ids',
                     'jobma_job_company_show',
                     'jobma_job_recruiter_show',
                     'created_at',
                     'jobma_job_interview_questions_ids',
                     'jobma_question_think_time',
                     'jobma_question_takes',
                     'jobma_job_interview_questions_durations',
                     'updated_at',
                     'jobma_job_created_date',
                     'ai_rating_params',
                     'jobma_job_post_id',
                     'job_assessment_kit_id',
                     'ai_live_kit_id',
                     'jobma_job_inactive_date',
                     'jobma_job_inactive_reason'
                    ], axis=1,inplace=True)

In [49]:
job_posting_df.columns

Index(['jobma_catcher_id', 'jobma_job_title', 'slug', 'jobma_job_type',
       'jobma_job_industry', 'jobma_job_functional_areas',
       'jobma_job_keywords', 'jobma_job_currency', 'jobma_job_company_name',
       'jobma_job_company_profile', 'jobma_job_apply_count',
       'jobma_job_view_count', 'approval', 'job_subscription_status',
       'applicant_count'],
      dtype='object')

# Fetching number of kits created by catcher from job_assessment_kit

In [51]:
kit_df = kit_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [52]:
kit_df['number_of_kits'] = kit_df['jobma_catcher_id'].map(invitation_df['jobma_catcher_id'].value_counts())

In [53]:
kit_df = kit_df[['jobma_catcher_id', 'number_of_kits']]

# Merging Tables

In [55]:
wallet_subscription_df = pd.merge(wallet_df, subscription_df,  on='jobma_catcher_id', how='inner')

In [56]:
wallet_subscription_df.drop_duplicates(inplace=True)

In [57]:
catcher_wallet_subscription_df = pd.merge(wallet_subscription_df, catcher_df,  on='jobma_catcher_id', how='inner')

In [58]:
catcher_wallet_subscription_df.drop_duplicates(inplace=True)

In [59]:
catcher_kit_wallet_subscription_df = pd.merge(catcher_wallet_subscription_df, kit_df,  on='jobma_catcher_id', how='inner')

In [60]:
catcher_kit_wallet_subscription_df.drop_duplicates(inplace=True)

In [61]:
catcher_invitation_kit_wallet_subscription_df = pd.merge(catcher_kit_wallet_subscription_df, invitation_df,  on='jobma_catcher_id', how='inner')

In [62]:
catcher_invitation_kit_wallet_subscription_df.drop_duplicates(inplace=True)

In [63]:
catcher_invitation_kit_wallet_subscription_job_posting_df = pd.merge(catcher_invitation_kit_wallet_subscription_df, job_posting_df,  on='jobma_catcher_id', how='inner')

In [64]:
catcher_invitation_kit_wallet_subscription_job_posting_df.drop_duplicates(inplace=True)

In [65]:
catcher_invitation_kit_wallet_subscription_job_posting_df.shape

(179549, 68)

In [66]:
catcher_invitation_kit_wallet_subscription_job_posting_df.isnull().sum()

jobma_catcher_id                0
credit_amount               35886
wallet_amount                   0
subscription_type_x             0
plan_type                       0
                            ...
jobma_job_apply_count      179549
jobma_job_view_count       179549
approval                        0
job_subscription_status         0
applicant_count            179259
Length: 68, dtype: int64

In [67]:
catcher_invitation_kit_wallet_subscription_job_posting_df.drop(['e_invoice',
                                                                'created_at',
                                                                'updated_at',
                                                                'currency_x',
                                                                'currency_y',
                                                                'jobma_job_company_name',
                                                                'expiry_date',
                                                                'jobma_job_industry'], axis=1, inplace=True)

In [68]:
catcher_invitation_kit_wallet_subscription_job_posting_df.isnull().sum()[catcher_invitation_kit_wallet_subscription_job_posting_df.isnull().sum() > 100]

credit_amount             35886
jobma_job_apply_count    179549
jobma_job_view_count     179549
applicant_count          179259
dtype: int64

In [77]:
catcher_invitation_kit_wallet_subscription_job_posting_df.to_csv("collected_data1.csv", index=False)