In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mysql+pymysql://root:dushi%401611@localhost:3306/jobma_database")

In [3]:
catcher_df = pd.read_sql('Select * FROM jobma_catcher', con=engine)
# wallet_df = pd.read_sql('Select * FROM wallet', con=engine)
# subscription_df = pd.read_sql('Select * FROM subscription_history', con=engine)

In [4]:
catcher_df.head()

,jobma_catcher_id,jobma_catcher_fname,jobma_catcher_lname,jobma_catcher_dob,jobma_catcher_video_status,jobma_catcher_company,org_type,sec_ques_id,security_ans,jobma_about_company,...,referral_credit,company_size,theme,flag,jobma_auto_recording_status,jobma_scenario_question_status,ai_live_interview,ms_teams_chat_reference,bot_audio,approval
0,1,jayant,,None,None,Jobma,1,0,,,...,0,1-25,0,0,0,0,0,None,1,0
1,92,,,2016-11-22,1,Select Source International,,1,,Select Source International is a Global Soluti...,...,0,None,0,0,0,0,0,None,1,0
2,96,Gaurav,Arora,2016-11-01,1,Select Source International,employer,0,,Select Source International is a Global Soluti...,...,0,None,0,0,0,0,0,None,1,0
3,106,,,2016-09-26,1,Singhal System Solutions Pvt. Ltd.,employer,0,,IT Company,...,0,None,0,0,0,0,0,None,1,0
4,117,Krishna,Kant,2016-09-26,1,Select Source International,employer,0,,Select Source International is a Global Soluti...,...,0,None,0,0,0,0,0,None,1,0

In [5]:
catcher_df.shape

(7672, 75)

In [6]:
catcher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7672 entries, 0 to 7671
Data columns (total 75 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                7672 non-null   int64
 1   jobma_catcher_fname             7672 non-null   object
 2   jobma_catcher_lname             7672 non-null   object
 3   jobma_catcher_dob               1071 non-null   object
 4   jobma_catcher_video_status      2018 non-null   object
 5   jobma_catcher_company           7672 non-null   object
 6   org_type                        7672 non-null   object
 7   sec_ques_id                     7672 non-null   int64
 8   security_ans                    7672 non-null   object
 9   jobma_about_company             7672 non-null   object
 10  jobma_functional                7672 non-null   object
 11  jobma_catcher_indus             6126 non-null   object
 12  jobma_company_email             7672 non-null   object
 13  jobma_catcher_email             7672 non-null   object
 14  jobma_catcher_title             7672 non-null   int64
 15  jobma_catcher_ext               7672 non-null   object
 16  jobma_catcher_otype             7672 non-null   object
 17  jobma_catcher_photo             7672 non-null   object
 18  jobma_catcher_logo              104 non-null    object
 19  jobma_catcher_website           7672 non-null   object
 20  jobma_company_address           7672 non-null   object
 21  jobma_catcher_address2          972 non-null    object
 22  jobma_catcher_video             7672 non-null   object
 23  jobma_catcher_city              7672 non-null   int64
 24  jobma_catcher_state             7672 non-null   int64
 25  jobma_catcher_country           7672 non-null   int64
 26  jobma_catcher_zip               7672 non-null   object
 27  jobma_catcher_fax               6308 non-null   object
 28  jobma_catcher_phone             7672 non-null   object
 29  jobma_catcher_status            7649 non-null   object
 30  jobma_catcher_creation          7672 non-null   object
 31  jobma_catcher_type              5425 non-null   object
 32  jobma_catcher_sub_accounts      7672 non-null   object
 33  is_premium                      7672 non-null   object
 34  jobma_catcher_parent            7672 non-null   int64
 35  jobma_catcher_is_deleted        257 non-null    object
 36  jobma_verified                  7672 non-null   object
 37  jobma_in_index                  7354 non-null   object
 38  data_access                     7672 non-null   object
 39  subscription_status             7672 non-null   object
 40  interview_rate                  7672 non-null   float64
 41  remember_token                  7672 non-null   object
 42  deleted_at                      459 non-null    datetime64[ns]
 43  api_key                         7672 non-null   object
 44  sub_user                        7672 non-null   int64
 45  per_sub_user                    7672 non-null   object
 46  live_interview_credit           7672 non-null   float64
 47  pre_recorded_credit             7672 non-null   float64
 48  ai_live_interview_credit        7672 non-null   float64
 49  credit_value                    7672 non-null   int64
 50  interview_cost_type             7672 non-null   object
 51  subscription_type               7672 non-null   object
 52  phone_call_cost_type            7672 non-null   object
 53  call_and_regording_credits      82 non-null     float64
 54  transcription_credits           82 non-null     float64
 55  temp_subscription_type          7672 non-null   object
 56  created_at                      7672 non-null   datetime64[ns]
 57  updated_at                      7672 non-null   datetime64[ns]
 58  jobma_support_rtc               7672 non-null   object
 59  interview_question              7672 non-null   int64
 60  video_recording_suppport        7672 non-null   object
 61  subaccount_permission           7670 non-null   object
 62  reply_email                     1 non-null      object
 63  sing_up_canditate_after_apply   7672 non-null   object
 64  currency                        7672 non-null   object
 65  referral_credit                 7672 non-null   int64
 66  company_size                    5934 non-null   object
 67  theme                           7672 non-null   object
 68  flag                            7672 non-null   object
 69  jobma_auto_recording_status     7672 non-null   object
 70  jobma_scenario_question_status  7672 non-null   object
 71  ai_live_interview               7672 non-null   object
 72  ms_teams_chat_reference         1 non-null      object
 73  bot_audio                       7672 non-null   int64
 74  approval                        7672 non-null   object
dtypes: datetime64[ns](3), float64(6), int64(12), object(54)
memory usage: 4.4+ MB

# Dropping Columns from Catcher

In [8]:
catcher_df.drop(['jobma_catcher_fname',
                 'jobma_catcher_lname',
                 'jobma_catcher_dob',
                 'jobma_catcher_video_status',
                 'jobma_about_company',
                 'jobma_company_email',
                 'jobma_catcher_email',
                 'jobma_catcher_photo',
                 'jobma_catcher_logo',
                 'jobma_catcher_website',
                 'jobma_company_address',
                 'jobma_catcher_address2',
                 'jobma_catcher_video',
                 'jobma_catcher_city',
                 'jobma_catcher_state',
                 'jobma_catcher_phone',
                 'jobma_catcher_fax',
                 'jobma_catcher_status',
                 'theme',
                 'ms_teams_chat_reference',], axis=1, inplace=True)

# Dropping Columns from Wallet

In [ ]:
# wallet_df.drop(['gst_code',], axis=1, inplace=True)

In [9]:
# wallet_df = wallet_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [10]:
# wallet_df.shape

(5562, 14)

In [11]:
# wallet_df.head()

,id,jobma_catcher_id,credit_amount,wallet_amount,subscription_type,plan_type,is_unlimited,premium_storage,trial_account_type,gst_code,billing_cycle,billing_cycle_status,created_at,updated_at
0,1,669,NaN,0.0,0,0,0,0,NaN,None,None,0,2017-11-03 12:10:27,2017-11-03 12:10:27
1,2,92,NaN,34.0,0,0,0,0,0.0,None,None,0,2017-11-03 12:10:27,2020-02-20 07:10:00
2,3,898,NaN,0.0,0,0,0,0,NaN,None,None,0,2017-11-03 04:36:27,2017-11-03 04:36:27
3,4,912,NaN,0.0,0,0,0,0,NaN,None,None,0,2017-11-03 14:08:57,2017-11-03 14:08:57
4,5,92,NaN,3.0,0,0,0,0,0.0,None,None,0,2017-11-03 14:08:57,2020-02-20 07:10:00

In [12]:
# subscription_df = subscription_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [23]:
# subscription_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11049 entries, 0 to 11048
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   11049 non-null  int64
 1   jobma_catcher_id     11049 non-null  int64
 2   catcher_username     8072 non-null   object
 3   catcher_email        7390 non-null   object
 4   sub_user_id          967 non-null    float64
 5   subscription_id      11049 non-null  int64
 6   premium_plan_id      10927 non-null  float64
 7   premium_plan         10929 non-null  object
 8   transaction_id       11049 non-null  object
 9   subscription_amount  11049 non-null  float64
 10  credit_given         11049 non-null  int64
 11  paypal_profile_id    11049 non-null  object
 12  paypal_payer_id      11049 non-null  object
 13  expiry_date          11049 non-null  object
 14  currency             11049 non-null  object
 15  premium_storage      11049 non-null  int64
 16  igst                 11049 non-null  int64
 17  cgst                 11049 non-null  int64
 18  gst_code             4957 non-null   object
 19  currency_val         11049 non-null  float64
 20  recurring_data       11049 non-null  object
 21  payment_mode         11049 non-null  object
 22  status               11049 non-null  object
 23  payment_status       11049 non-null  object
 24  e_invoice            11049 non-null  object
 25  cheque_number        666 non-null    object
 26  banker               666 non-null    object
 27  cheque_amount        11049 non-null  float64
 28  cheque_image         8 non-null      object
 29  cancel_date          0 non-null      object
 30  invoice_suffix       11049 non-null  int64
 31  radioGstValue        11049 non-null  int64
 32  created_at           11049 non-null  datetime64[ns]
 33  updated_at           11049 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(5), int64(9), object(18)
memory usage: 2.9+ MB

In [13]:
# subscription_df.shape

(11049, 34)

# Merging Jobma_Catcher and Wallet

In [15]:
# merged_df1 = pd.merge(catcher_df, wallet_df, on='jobma_catcher_id', how='outer')
# merged_df2 = pd.merge(merged_df1, subscription_df, on='jobma_catcher_id', how='outer')

In [17]:
# merged_df2.head()

,jobma_catcher_id,jobma_catcher_company,org_type,sec_ques_id,security_ans,jobma_functional,jobma_catcher_indus,jobma_catcher_title,jobma_catcher_ext,jobma_catcher_otype,...,e_invoice,cheque_number,banker,cheque_amount,cheque_image,cancel_date,invoice_suffix,radioGstValue,created_at,updated_at
0,1,Jobma,1,0.0,,,None,0.0,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT
1,92,Select Source International,,1.0,,,,0.0,,1,...,0,None,None,0.0,None,None,0.0,1.0,2017-11-16 14:10:19,2021-06-11 12:41:24
2,92,Select Source International,,1.0,,,,0.0,,1,...,1,None,None,0.0,None,None,0.0,1.0,2020-02-20 07:10:00,2024-06-25 05:32:13
3,92,Select Source International,,1.0,,,,0.0,,1,...,0,None,None,0.0,None,None,0.0,1.0,2017-11-16 14:10:19,2021-06-11 12:41:24
4,92,Select Source International,,1.0,,,,0.0,,1,...,1,None,None,0.0,None,None,0.0,1.0,2020-02-20 07:10:00,2024-06-25 05:32:13

In [19]:
# merged_df1.shape

(7691, 69)

In [20]:
# merged_df2.shape

(13181, 102)