In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sqlalchemy import create_engine

In [2]:
warnings.filterwarnings('ignore')

In [3]:
engine = create_engine("mysql+pymysql://root:dushi%401611@localhost:3306/test_database")

In [4]:
catcher_df = pd.read_sql('Select * FROM jobma_catcher', con=engine)  # Done  (about catcher's account)
wallet_df = pd.read_sql('Select * FROM wallet', con=engine)  # Done  ('subscription type, plan type')
subscription_df = pd.read_sql('Select * FROM subscription_history', con=engine)  # Done  (number and amount of subscription bought by the catcher)
invitation_df = pd.read_sql('Select * FROM jobma_pitcher_invitations', con=engine)  # Done   (number of invitations sent by the catcher)
job_posting_df = pd.read_sql('Select * FROM jobma_employer_job_posting', con=engine) # Done    (number of jobs posted by the catcher)
kit_df = pd.read_sql('Select * FROM job_assessment_kit', con=engine) # Done   (number of kits created by the catcher)
recorded_interview_df = pd.read_sql('Select * FROM jobma_interviews', con=engine) # Done (number of recorded interviews created by the catcher)
live_interview_df = pd.read_sql('Select * FROM jobma_interviews_online', con=engine) # Done (number of live interviews created by the catcher)
login_df = pd.read_sql('Select * FROM jobma_login',con=engine)  # Done (To Find number of days catcher didn't logged in)

# Catcher df

In [6]:
catcher_df.columns

Index(['jobma_catcher_id', 'jobma_catcher_fname', 'jobma_catcher_lname',
       'jobma_catcher_dob', 'jobma_catcher_video_status',
       'jobma_catcher_company', 'org_type', 'sec_ques_id', 'security_ans',
       'jobma_about_company', 'jobma_functional', 'jobma_catcher_indus',
       'jobma_company_email', 'jobma_catcher_email', 'jobma_catcher_title',
       'jobma_catcher_ext', 'jobma_catcher_otype', 'jobma_catcher_photo',
       'jobma_catcher_logo', 'jobma_catcher_website', 'jobma_company_address',
       'jobma_catcher_address2', 'jobma_catcher_video', 'jobma_catcher_city',
       'jobma_catcher_state', 'jobma_catcher_country', 'jobma_catcher_zip',
       'jobma_catcher_fax', 'jobma_catcher_phone', 'jobma_catcher_status',
       'jobma_catcher_creation', 'jobma_catcher_type',
       'jobma_catcher_sub_accounts', 'is_premium', 'jobma_catcher_parent',
       'jobma_catcher_is_deleted', 'jobma_verified', 'jobma_in_index',
       'approval', 'subscription_status', 'interview_rate', 'remember_token',
       'deleted_at', 'api_key', 'sub_user', 'per_sub_user',
       'live_interview_credit', 'pre_recorded_credit', 'credit_value',
       'interview_cost_type', 'subscription_type', 'phone_call_cost_type',
       'call_and_regording_credits', 'transcription_credits',
       'temp_subscription_type', 'created_at', 'updated_at',
       'jobma_support_rtc', 'interview_question', 'video_recording_suppport',
       'subaccount_permission', 'reply_email', 'sing_up_canditate_after_apply',
       'currency', 'company_size', 'theme', 'flag',
       'jobma_auto_recording_status', 'jobma_scenario_question_status'],
      dtype='object')

In [7]:
catcher_df = catcher_df[['jobma_catcher_id', 'is_premium', 'jobma_catcher_parent', 'jobma_verified', 'subscription_status', 'company_size']]

In [8]:
catcher_df['jobma_verified'].unique()

array(['1', '0'], dtype=object)

In [9]:
catcher_df['jobma_verified'] = catcher_df['jobma_verified'].replace({'0':0, '1':1})

In [10]:
catcher_df['is_premium'].value_counts()

is_premium
0    5129
1     986
        1
Name: count, dtype: int64

In [11]:
catcher_df.drop(catcher_df[catcher_df['is_premium'] == ''].index, inplace=True)

In [12]:
catcher_df['is_premium'] = catcher_df['is_premium'].replace({'0':0, '1':1})

In [13]:
catcher_df['is_premium'].value_counts()

is_premium
0    5129
1     986
Name: count, dtype: int64

In [14]:
catcher_df['subscription_status'].unique()

array(['1', '2', '0'], dtype=object)

In [15]:
catcher_df['subscription_status'].value_counts()

subscription_status
2    3356
1    2750
0       9
Name: count, dtype: int64

In [16]:
catcher_df['subscription_status'] = catcher_df['subscription_status'].replace({'0':0, '1':1, '2':0})

In [17]:
catcher_df['subscription_status'].unique()

array([1, 0], dtype=int64)

In [18]:
catcher_df['subscription_status'].value_counts()

subscription_status
0    3365
1    2750
Name: count, dtype: int64

# Wallet df

In [20]:
wallet_df = wallet_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [21]:
wallet_df = wallet_df[['jobma_catcher_id', 'is_unlimited']]

In [22]:
wallet_df['is_unlimited'] = wallet_df['is_unlimited'].replace({'0':0, '1':1})

In [23]:
wallet_df.drop(wallet_df[wallet_df['is_unlimited'] == ''].index, inplace=True)

In [24]:
wallet_df['is_unlimited'].value_counts()

is_unlimited
0    3552
1     846
Name: count, dtype: int64

In [25]:
wallet_df.duplicated(subset='jobma_catcher_id').sum()

0

# Subscription df

In [27]:
subscription_df.columns

Index(['id', 'catcher_id', 'catcher_username', 'catcher_email', 'sub_user_id',
       'subscription_id', 'premium_plan_id', 'premium_plan', 'transaction_id',
       'subscription_amount', 'credit_given', 'paypal_profile_id',
       'paypal_payer_id', 'expiry_date', 'currency', 'premium_storage', 'igst',
       'cgst', 'gst_code', 'currency_val', 'recurring_data', 'payment_mode',
       'status', 'payment_status', 'e_invoice', 'cheque_number', 'banker',
       'cheque_amount', 'cheque_image', 'cancel_date', 'invoice_suffix',
       'radioGstValue', 'created_at', 'updated_at'],
      dtype='object')

In [28]:
subscription_df = subscription_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [29]:
subscription_df.loc[subscription_df['currency'] == '1', 'subscription_amount'] /= 85.23

In [30]:
subscription_df = subscription_df.groupby('jobma_catcher_id').agg(
    subscription_amount_in_dollars=('subscription_amount', 'sum'),
    number_of_subscriptions=('subscription_amount', 'count')
).reset_index()

In [31]:
subscription_df.drop_duplicates(inplace=True)

# Invitation df

In [33]:
invitation_df['number_of_invitations'] = invitation_df['jobma_catcher_id'].map(invitation_df['jobma_catcher_id'].value_counts())

In [34]:
invitation_df = invitation_df[['jobma_catcher_id', 'number_of_invitations']]

In [35]:
invitation_df.drop_duplicates(inplace=True)

# Job Posting df

In [37]:
job_posting_df['job_posted'] = job_posting_df['jobma_catcher_id'].map(job_posting_df['jobma_catcher_id'].value_counts())

In [38]:
job_posting_df = job_posting_df[['jobma_catcher_id', 'job_posted']]

In [39]:
job_posting_df.drop_duplicates(inplace=True)

# Kit df

In [41]:
kit_df = kit_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [42]:
kit_df['number_of_kits'] = kit_df['jobma_catcher_id'].map(kit_df['jobma_catcher_id'].value_counts())

In [43]:
kit_df = kit_df[['jobma_catcher_id', 'number_of_kits']]

In [44]:
kit_df.drop_duplicates(inplace=True)

# Recorded Interview df

In [46]:
recorded_interview_df['number_of_recorded_interviews'] = recorded_interview_df['jobma_catcher_id'].map(recorded_interview_df['jobma_catcher_id'].value_counts())

In [47]:
recorded_interview_df = recorded_interview_df[['jobma_catcher_id', 'number_of_recorded_interviews']]

In [48]:
recorded_interview_df.drop_duplicates(inplace=True)

# Live Interview df

In [50]:
live_interview_df['number_of_live_interviews'] = live_interview_df['jobma_catcher_id'].map(live_interview_df['jobma_catcher_id'].value_counts())

In [51]:
live_interview_df = live_interview_df[['jobma_catcher_id', 'number_of_live_interviews']]

In [52]:
live_interview_df.drop_duplicates(inplace=True)

# Login df

In [54]:
# Catcher's role id is 3

login_df = login_df[login_df['jobma_role_id'] == 3].copy()

In [55]:
login_df = login_df.rename(columns={'jobma_user_id':'jobma_catcher_id'})

In [56]:
login_df['jobma_last_login'] = pd.to_datetime(login_df['jobma_last_login'], errors='coerce')

In [57]:
login_df['days_since_last_login'] = (pd.Timestamp('today') - login_df['jobma_last_login']).dt.days

In [58]:
login_df['days_since_last_login'].fillna(9999, inplace=True)

In [59]:
login_df['days_since_last_login'] = login_df['days_since_last_login'].astype(int)

In [60]:
# bar chart for age and pclass

bins = [-1,7,30,90,180,365,float('inf')]
labels=['Less than 1 Week', '1-4 Weeks', '1-3 Months', '3-6 Months', '6-12 Months', 'More than 1 Year']

login_df['days_since_last_login'] = pd.cut(login_df['days_since_last_login'], bins=bins, labels=labels)

In [61]:
login_df = login_df[['jobma_catcher_id', 'days_since_last_login']]

# Merging DataFrames

In [63]:
print(f'Catcher df shape is {catcher_df.shape}')
print(f'Wallet df shape is {wallet_df.shape}')
print(f'Subscription df shape is {subscription_df.shape}')
print(f'Invitation df shape is {invitation_df.shape}')
print(f'Job Posting df shape is {job_posting_df.shape}')
print(f'Number of Kit df shape is {kit_df.shape}')
print(f'Number of Recorded Interview df shape is {recorded_interview_df.shape}')
print(f'Number of Live Interview df shape is {live_interview_df.shape}')
print(f'Number of Login df shape is {login_df.shape}')

Catcher df shape is (6115, 6)
Wallet df shape is (4398, 2)
Subscription df shape is (4477, 3)
Invitation df shape is (1171, 2)
Job Posting df shape is (1127, 2)
Number of Kit df shape is (1192, 2)
Number of Recorded Interview df shape is (857, 2)
Number of Live Interview df shape is (57, 2)
Number of Login df shape is (4474, 2)

In [64]:
final_df = catcher_df.copy()

# Left join each table one by one
final_df = final_df.merge(wallet_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(subscription_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(invitation_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(job_posting_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(kit_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(recorded_interview_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(live_interview_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(login_df, on='jobma_catcher_id', how='left')
final_df.drop_duplicates(inplace=True)

print(f"Final merged df shape is {final_df.shape}")

Final merged df shape is (6115, 15)

In [65]:
final_df.columns

Index(['jobma_catcher_id', 'is_premium', 'jobma_catcher_parent',
       'jobma_verified', 'subscription_status', 'company_size', 'is_unlimited',
       'subscription_amount_in_dollars', 'number_of_subscriptions',
       'number_of_invitations', 'job_posted', 'number_of_kits',
       'number_of_recorded_interviews', 'number_of_live_interviews',
       'days_since_last_login'],
      dtype='object')

In [66]:
sub_counts = final_df[final_df['jobma_catcher_parent'] != 0].groupby('jobma_catcher_parent').size()
final_df['total_sub'] = final_df['jobma_catcher_id'].map(sub_counts).fillna(0).astype(int)

In [67]:
final_df.columns

Index(['jobma_catcher_id', 'is_premium', 'jobma_catcher_parent',
       'jobma_verified', 'subscription_status', 'company_size', 'is_unlimited',
       'subscription_amount_in_dollars', 'number_of_subscriptions',
       'number_of_invitations', 'job_posted', 'number_of_kits',
       'number_of_recorded_interviews', 'number_of_live_interviews',
       'days_since_last_login', 'total_sub'],
      dtype='object')

In [68]:
final_df['total_sub'].min(), final_df['total_sub'].max()

(0, 40)

In [69]:
final_df.head()

,jobma_catcher_id,is_premium,jobma_catcher_parent,jobma_verified,subscription_status,company_size,is_unlimited,subscription_amount_in_dollars,number_of_subscriptions,number_of_invitations,job_posted,number_of_kits,number_of_recorded_interviews,number_of_live_interviews,days_since_last_login,total_sub
0,2656,0,0,1,1,1-25,1,175.994368,1.0,4.0,1.0,2.0,1.0,NaN,More than 1 Year,1
1,2935,0,0,1,0,26-100,0,0.623020,1.0,NaN,NaN,NaN,NaN,NaN,More than 1 Year,0
2,2937,0,0,1,0,101-500,0,1.384489,1.0,NaN,NaN,NaN,NaN,NaN,More than 1 Year,0
3,2938,0,0,1,1,26-100,0,375.008213,3.0,NaN,1.0,NaN,NaN,NaN,More than 1 Year,0
4,2939,0,0,1,0,26-100,0,138.448903,1.0,NaN,1.0,NaN,NaN,NaN,More than 1 Year,0

In [70]:
# For Kits

sub_kits_sum = final_df[final_df['jobma_catcher_parent'] != 0].groupby('jobma_catcher_parent')['number_of_kits'].sum()
final_df.loc[final_df['jobma_catcher_id'].isin(sub_kits_sum.index), 'number_of_kits'] += final_df['jobma_catcher_id'].map(sub_kits_sum)

In [71]:
# For Invitations

sub_invitations_sum = final_df[final_df['jobma_catcher_parent'] != 0].groupby('jobma_catcher_parent')['number_of_invitations'].sum()
final_df.loc[final_df['jobma_catcher_id'].isin(sub_kits_sum.index), 'number_of_invitations'] += final_df['jobma_catcher_id'].map(sub_invitations_sum)

In [72]:
# For Job Posted

sub_job_posted_sum = final_df[final_df['jobma_catcher_parent'] != 0].groupby('jobma_catcher_parent')['job_posted'].sum()
final_df.loc[final_df['jobma_catcher_id'].isin(sub_job_posted_sum.index), 'job_posted'] += final_df['jobma_catcher_id'].map(sub_job_posted_sum)

In [73]:
# For Recorded Interviews

sub_recorded_sum = final_df[final_df['jobma_catcher_parent'] != 0].groupby('jobma_catcher_parent')['number_of_recorded_interviews'].sum()
final_df.loc[final_df['jobma_catcher_id'].isin(sub_recorded_sum.index), 'number_of_recorded_interviews'] += final_df['jobma_catcher_id'].map(sub_recorded_sum)

In [74]:
# For Live Interviews

sub_live_sum = final_df[final_df['jobma_catcher_parent'] != 0].groupby('jobma_catcher_parent')['number_of_live_interviews'].sum()
final_df.loc[final_df['jobma_catcher_id'].isin(sub_live_sum.index), 'number_of_live_interviews'] += final_df['jobma_catcher_id'].map(sub_live_sum)

In [75]:
final_df['days_since_last_login'].unique()

['More than 1 Year', NaN, '6-12 Months']
Categories (6, object): ['Less than 1 Week' < '1-4 Weeks' < '1-3 Months' < '3-6 Months' < '6-12 Months' < 'More than 1 Year']

In [76]:
login_order = {
    'Less than 1 Week':0,
    '1-4 Weeks':1,
    '1-3 Months':2,
    '3-6 Months':3,
    '6-12 Months':4,
    'More than 1 Year':5
}

In [77]:
final_df['days_since_last_login'] = final_df['days_since_last_login'].map(login_order).fillna(5).astype(int)

In [78]:
sub_min_login = final_df[final_df['jobma_catcher_parent'] != 0].groupby('jobma_catcher_parent')['days_since_last_login'].min()

In [79]:
final_df.loc[final_df['jobma_catcher_id'].isin(sub_min_login.index), 'days_since_last_login'] = final_df.loc[final_df['jobma_catcher_id'].isin(sub_min_login.index), 'jobma_catcher_id'].map(sub_min_login)

In [80]:
final_df['days_since_last_login'].isnull().sum()

0

In [81]:
final_df['days_since_last_login'].dtype

dtype('int32')

In [82]:
final_df['days_since_last_login'].value_counts()

days_since_last_login
5    6086
4      29
Name: count, dtype: int64

In [83]:
final_df.head()

,jobma_catcher_id,is_premium,jobma_catcher_parent,jobma_verified,subscription_status,company_size,is_unlimited,subscription_amount_in_dollars,number_of_subscriptions,number_of_invitations,job_posted,number_of_kits,number_of_recorded_interviews,number_of_live_interviews,days_since_last_login,total_sub
0,2656,0,0,1,1,1-25,1,175.994368,1.0,7.0,2.0,4.0,1.0,NaN,5,1
1,2935,0,0,1,0,26-100,0,0.623020,1.0,NaN,NaN,NaN,NaN,NaN,5,0
2,2937,0,0,1,0,101-500,0,1.384489,1.0,NaN,NaN,NaN,NaN,NaN,5,0
3,2938,0,0,1,1,26-100,0,375.008213,3.0,NaN,1.0,NaN,NaN,NaN,5,0
4,2939,0,0,1,0,26-100,0,138.448903,1.0,NaN,1.0,NaN,NaN,NaN,5,0

In [84]:
final_df.shape

(6115, 16)

In [85]:
verified_df = final_df[final_df['jobma_verified'] == 1].copy()

In [86]:
verified_df.shape

(6113, 16)

In [87]:
df = verified_df[verified_df['jobma_catcher_parent'] == 0].copy()

In [88]:
df.drop('jobma_catcher_parent', axis=1, inplace=True)

In [89]:
df.shape

(4463, 15)

In [90]:
df.columns

Index(['jobma_catcher_id', 'is_premium', 'jobma_verified',
       'subscription_status', 'company_size', 'is_unlimited',
       'subscription_amount_in_dollars', 'number_of_subscriptions',
       'number_of_invitations', 'job_posted', 'number_of_kits',
       'number_of_recorded_interviews', 'number_of_live_interviews',
       'days_since_last_login', 'total_sub'],
      dtype='object')

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4463 entries, 0 to 6114
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                4463 non-null   int64
 1   is_premium                      4463 non-null   int64
 2   jobma_verified                  4463 non-null   int64
 3   subscription_status             4463 non-null   int64
 4   company_size                    4461 non-null   object
 5   is_unlimited                    4378 non-null   object
 6   subscription_amount_in_dollars  4460 non-null   float64
 7   number_of_subscriptions         4460 non-null   float64
 8   number_of_invitations           826 non-null    float64
 9   job_posted                      881 non-null    float64
 10  number_of_kits                  1016 non-null   float64
 11  number_of_recorded_interviews   630 non-null    float64
 12  number_of_live_interviews       29 non-null     float64
 13  days_since_last_login           4463 non-null   int32
 14  total_sub                       4463 non-null   int32
dtypes: float64(7), int32(2), int64(4), object(2)
memory usage: 523.0+ KB

In [92]:
df['is_unlimited'].unique()

array([1, 0, nan], dtype=object)