In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sqlalchemy import create_engine

In [2]:
warnings.filterwarnings('ignore')

In [3]:
engine = create_engine("mysql+pymysql://root:dushi%401611@localhost:3306/test_database")

In [4]:
catcher_df = pd.read_sql('Select * FROM jobma_catcher', con=engine)  # Done  (about catcher's account)
wallet_df = pd.read_sql('Select * FROM wallet', con=engine)  # Done  ('subscription type, plan type')
subscription_df = pd.read_sql('Select * FROM subscription_history', con=engine)  # Done  (number and amount of subscription bought by the catcher)
invitation_df = pd.read_sql('Select * FROM jobma_pitcher_invitations', con=engine)  # Done   (number of invitations sent by the catcher)
job_posting_df = pd.read_sql('Select * FROM jobma_employer_job_posting', con=engine) # Done    (number of jobs posted by the catcher)
kit_df = pd.read_sql('Select * FROM job_assessment_kit', con=engine) # Done   (number of kits created by the catcher)
recorded_interview_df = pd.read_sql('Select * FROM jobma_interviews', con=engine) # Done (number of recorded interviews created by the catcher)
live_interview_df = pd.read_sql('Select * FROM jobma_interviews_online', con=engine) # Done (number of live interviews created by the catcher)
login_df = pd.read_sql('Select * FROM jobma_login',con=engine)  # Done (To Find number of days catcher didn't logged in)

# Catcher_df

In [6]:
sub_counts = catcher_df[catcher_df['jobma_catcher_parent'] != 0]['jobma_catcher_parent'].value_counts()

In [7]:
parents_df = catcher_df[catcher_df['jobma_catcher_parent'] == 0].copy()

In [8]:
parents_df['total_sub'] = parents_df['jobma_catcher_id'].map(sub_counts).fillna(0).astype(int)

In [9]:
parents_df = parents_df[['jobma_catcher_id', 'is_premium', 'subscription_status', 'company_size', 'total_sub']]

In [10]:
parents_df['subscription_status'].value_counts()

subscription_status
2    3356
1    1106
0       4
Name: count, dtype: int64

In [11]:
parents_df.drop(parents_df[parents_df['subscription_status'] == '0'].index, inplace=True)

In [12]:
# parents_df['subscription_status'] = parents_df['subscription_status'].replace({'1':'Running', '2':'Paused by Admin'})
parents_df['subscription_status'] = parents_df['subscription_status'].replace({'1':0, '2':1})

In [13]:
parents_df['subscription_status'].value_counts()

subscription_status
1    3356
0    1106
Name: count, dtype: int64

In [14]:
parents_df['is_premium'].unique()

array(['0', '1', ''], dtype=object)

In [15]:
parents_df.drop(parents_df[parents_df['is_premium'] == ''].index, inplace=True)

In [16]:
# parents_df['is_premium'] = parents_df['is_premium'].replace({'0':'Yes', '1':'No'})
parents_df['is_premium'] = parents_df['is_premium'].replace({'0':0, '1':1})

In [17]:
parents_df['is_premium'].unique()

array([0, 1], dtype=int64)

In [18]:
parents_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4461 entries, 0 to 6115
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   jobma_catcher_id     4461 non-null   int64
 1   is_premium           4461 non-null   int64
 2   subscription_status  4461 non-null   int64
 3   company_size         4459 non-null   object
 4   total_sub            4461 non-null   int32
dtypes: int32(1), int64(3), object(1)
memory usage: 191.7+ KB

In [19]:
parents_df.duplicated().sum()

0

# Wallet_df

In [21]:
wallet_df = wallet_df.rename(columns={'catcher_id': 'jobma_catcher_id'})

In [22]:
wallet_df.columns

Index(['id', 'jobma_catcher_id', 'credit_amount', 'wallet_amount',
       'subscription_type', 'plan_type', 'is_unlimited', 'premium_storage',
       'trial_account_type', 'gst_code', 'created_at', 'updated_at'],
      dtype='object')

In [23]:
wallet_df = wallet_df[['jobma_catcher_id', 'is_unlimited']]

In [24]:
# wallet_df['is_unlimited'] = wallet_df['is_unlimited'].replace({'0':'Yes', '1':'No'})
wallet_df['is_unlimited'] = wallet_df['is_unlimited'].replace({'0':0, '1':1})

In [25]:
wallet_df['is_unlimited'].value_counts()

is_unlimited
0    3552
1     846
       81
Name: count, dtype: int64

In [26]:
wallet_df.drop(wallet_df[wallet_df['is_unlimited'] == ''].index, inplace=True)

In [27]:
wallet_df['is_unlimited'].value_counts()

is_unlimited
0    3552
1     846
Name: count, dtype: int64

In [28]:
wallet_df.drop_duplicates(inplace=True)

In [29]:
wallet_df.columns

Index(['jobma_catcher_id', 'is_unlimited'], dtype='object')

# Subscription_df

In [31]:
subscription_df = subscription_df.rename(columns={'catcher_id': 'jobma_catcher_id'})

In [32]:
subscription_df.columns

Index(['id', 'jobma_catcher_id', 'catcher_username', 'catcher_email',
       'sub_user_id', 'subscription_id', 'premium_plan_id', 'premium_plan',
       'transaction_id', 'subscription_amount', 'credit_given',
       'paypal_profile_id', 'paypal_payer_id', 'expiry_date', 'currency',
       'premium_storage', 'igst', 'cgst', 'gst_code', 'currency_val',
       'recurring_data', 'payment_mode', 'status', 'payment_status',
       'e_invoice', 'cheque_number', 'banker', 'cheque_amount', 'cheque_image',
       'cancel_date', 'invoice_suffix', 'radioGstValue', 'created_at',
       'updated_at'],
      dtype='object')

In [33]:
subscription_df['currency'].unique()

array(['0', '1'], dtype=object)

In [34]:
subscription_df['original_amount'] = subscription_df['subscription_amount']

In [35]:
subscription_df[subscription_df['currency'] == '1'][['subscription_amount', 'currency']]

      subscription_amount currency
28                  53.10        1
29                 118.00        1
30                 118.00        1
31                   1.18        1
33               11800.00        1
...                   ...      ...
9487                 0.00        1
9489             25000.00        1
9490             15000.00        1
9491                 0.00        1
9492                 0.00        1

[4334 rows x 2 columns]

In [36]:
subscription_df.loc[subscription_df['currency'] == '1', 'subscription_amount'] /= 85.23

In [37]:
subscription_df[['original_amount', 'subscription_amount', 'currency']]

      original_amount  subscription_amount currency
0                 0.0             0.000000        0
1                 0.0             0.000000        0
2                 0.0             0.000000        0
3                 0.0             0.000000        0
4                 0.0             0.000000        0
...               ...                  ...      ...
9488            100.0           100.000000        0
9489          25000.0           293.323947        1
9490          15000.0           175.994368        1
9491              0.0             0.000000        1
9492              0.0             0.000000        1

[9493 rows x 3 columns]

In [38]:
# sns.boxplot(subscription_df['original_amount'])

In [39]:
# sns.boxplot(subscription_df['subscription_amount'])

In [40]:
# sns.lineplot(subscription_df['original_amount'])

In [41]:
# sns.lineplot(subscription_df['subscription_amount'])

In [42]:
subscription_df = subscription_df.groupby('jobma_catcher_id').agg(
    subscription_amount_in_dollars=('subscription_amount', 'sum'),
    number_of_subscriptions=('subscription_amount', 'count')
).reset_index()

In [43]:
subscription_df.drop_duplicates(inplace=True)

In [44]:
subscription_df.columns

Index(['jobma_catcher_id', 'subscription_amount_in_dollars',
       'number_of_subscriptions'],
      dtype='object')

In [45]:
subscription_df['subscription_amount_in_dollars'].max(), subscription_df['number_of_subscriptions'].max()

(118872599.99, 116)

# Invitation_df

In [47]:
invitation_df['number_of_invitations'] = invitation_df['jobma_catcher_id'].map(invitation_df['jobma_catcher_id'].value_counts())

In [48]:
invitation_df = invitation_df[['jobma_catcher_id', 'number_of_invitations']]

In [49]:
invitation_df.drop_duplicates(inplace=True)

# Job_posting_df

In [51]:
job_posting_df['job_posted'] = job_posting_df['jobma_catcher_id'].map(job_posting_df['jobma_catcher_id'].value_counts())

In [52]:
job_posting_df = job_posting_df[['jobma_catcher_id', 'job_posted']]

In [53]:
job_posting_df.drop_duplicates(inplace=True)

# Kit_df

In [55]:
kit_df = kit_df.rename(columns={'catcher_id':'jobma_catcher_id'})

In [56]:
kit_df['number_of_kits'] = kit_df['jobma_catcher_id'].map(kit_df['jobma_catcher_id'].value_counts())

In [57]:
kit_df = kit_df[['jobma_catcher_id', 'number_of_kits']]

In [58]:
kit_df.drop_duplicates(inplace=True)

# Recorded_Interview_df

In [60]:
recorded_interview_df.columns

Index(['id', 'jobma_post_id', 'jobma_pitcher_id', 'jobma_catcher_id',
       'interview_applied_id', 'jobma_invitation_id',
       'jobma_interview_question_id', 'jobma_answers', 'jobma_video_answer',
       'retake_requested', 'payment_status', 'interview_rate',
       'interview_credit', 'view_date', 'subscription_type',
       'interview_cost_type', 'evaluated_by', 'is_streaming', 'deleted_at',
       'created_at', 'updated_at'],
      dtype='object')

In [61]:
recorded_interview_df['number_of_recorded_interviews'] = recorded_interview_df['jobma_catcher_id'].map(recorded_interview_df['jobma_catcher_id'].value_counts())

In [62]:
recorded_interview_df = recorded_interview_df[['jobma_catcher_id', 'number_of_recorded_interviews']]

In [63]:
recorded_interview_df.drop_duplicates(inplace=True)

# Live_Interview_df

In [65]:
live_interview_df.columns

Index(['id', 'invitation_id', 'jobma_pitcher_id', 'jobma_job_post_id',
       'jobma_catcher_id', 'video_names', 'interview_status', 'payment_status',
       'record', 'interview_rate', 'interview_credit', 'video_time',
       'view_date', 'subscription_type', 'interview_cost_type',
       'video_request_status', 'deleted_at', 'created_at', 'updated_at'],
      dtype='object')

In [66]:
live_interview_df['number_of_live_interviews'] = live_interview_df['jobma_catcher_id'].map(live_interview_df['jobma_catcher_id'].value_counts())

In [67]:
live_interview_df = live_interview_df[['jobma_catcher_id', 'number_of_live_interviews']]

In [68]:
live_interview_df.drop_duplicates(inplace=True)

# Login_df

In [70]:
login_df.columns

Index(['jobma_login_id', 'jobma_user_name', 'jobma_password', 'jobma_role_id',
       'jobma_user_id', 'jobma_last_login', 'jobma_created_by', 'confirmed',
       'confirmation_code', 'jobma_login_status', 'jobma_login_ip',
       'forget_password', 'remember_token', 'jobma_social_login',
       'password_changed_at', 'deleted_at', 'created_at', 'updated_at'],
      dtype='object')

In [71]:
login_df.shape

(10182, 18)

In [72]:
''' Catcher's role id is 3 '''

login_df = login_df[login_df['jobma_role_id'] == 3].copy()

In [73]:
login_df.shape

(4474, 18)

In [74]:
login_df = login_df.rename(columns={'jobma_user_id':'jobma_catcher_id'})

In [75]:
login_df.nunique()

jobma_login_id         4474
jobma_user_name        4462
jobma_password         4473
jobma_role_id             1
jobma_catcher_id       4474
jobma_last_login       3488
jobma_created_by          2
confirmed                 2
confirmation_code         2
jobma_login_status        2
jobma_login_ip           15
forget_password           2
remember_token          924
jobma_social_login        2
password_changed_at    4466
deleted_at               92
created_at             4467
updated_at             4397
dtype: int64

In [76]:
login_df['jobma_last_login'] = pd.to_datetime(login_df['jobma_last_login'], errors='coerce')

In [77]:
login_df['days_since_last_login'] = (pd.Timestamp('today') - login_df['jobma_last_login']).dt.days

In [78]:
login_df['days_since_last_login'].fillna(9999, inplace=True)

In [79]:
login_df['days_since_last_login'] = login_df['days_since_last_login'].astype(int)

In [80]:
# bar chart for age and pclass

bins = [-1,7,30,90,180,365,float('inf')]
labels=['Less than 1 Week', '1-4 Weeks', '1-3 Months', '3-6 Months', '6-12 Months', 'More than 1 Year']

login_df['days_since_last_login'] = pd.cut(login_df['days_since_last_login'], bins=bins, labels=labels)

In [81]:
login_df['days_since_last_login'].value_counts()

days_since_last_login
More than 1 Year    4405
6-12 Months           69
Less than 1 Week       0
1-4 Weeks              0
1-3 Months             0
3-6 Months             0
Name: count, dtype: int64

In [82]:
login_df.isnull().sum()

jobma_login_id              0
jobma_user_name             0
jobma_password              0
jobma_role_id               0
jobma_catcher_id            0
jobma_last_login          987
jobma_created_by            3
confirmed                   0
confirmation_code           0
jobma_login_status          0
jobma_login_ip              0
forget_password          4361
remember_token              0
jobma_social_login          0
password_changed_at         0
deleted_at               4310
created_at                  0
updated_at                  0
days_since_last_login       0
dtype: int64

In [83]:
login_df = login_df[['jobma_catcher_id', 'days_since_last_login']]

In [84]:
login_df.nunique()

jobma_catcher_id         4474
days_since_last_login       2
dtype: int64

In [85]:
login_df.isnull().sum()

jobma_catcher_id         0
days_since_last_login    0
dtype: int64

In [86]:
# plt.figure(figsize=(15,5))
# plt.bar(login_df['jobma_catcher_id'], login_df['days_since_last_login'])
# plt.title('Average Days Since Last Login per Catcher')
# plt.xlabel('Jobma Catcher ID')
# plt.ylabel('Days Since Last Login')
# plt.tight_layout()
# plt.show()

# Merging Dataframes

In [88]:
print(f'Catcher df shape is {parents_df.shape}')
print(f'Wallet df shape is {wallet_df.shape}')
print(f'Subscription df shape is {subscription_df.shape}')
print(f'Invitation df shape is {invitation_df.shape}')
print(f'Job Posting df shape is {job_posting_df.shape}')
print(f'Number of Kit df shape is {kit_df.shape}')
print(f'Number of Recorded Interview df shape is {recorded_interview_df.shape}')
print(f'Number of Live Interview df shape is {live_interview_df.shape}')
print(f'Number of Login df shape is {login_df.shape}')

Catcher df shape is (4461, 5)
Wallet df shape is (4398, 2)
Subscription df shape is (4477, 3)
Invitation df shape is (1171, 2)
Job Posting df shape is (1127, 2)
Number of Kit df shape is (1192, 2)
Number of Recorded Interview df shape is (857, 2)
Number of Live Interview df shape is (57, 2)
Number of Login df shape is (4474, 2)

In [89]:
final_df = parents_df.copy()

# Left join each table one by one
final_df = final_df.merge(wallet_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(subscription_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(invitation_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(job_posting_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(kit_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(recorded_interview_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(live_interview_df, on='jobma_catcher_id', how='left')
final_df = final_df.merge(login_df, on='jobma_catcher_id', how='left')
final_df.drop_duplicates(inplace=True)

print(f"Final merged df shape is {final_df.shape}")

Final merged df shape is (4461, 14)

In [90]:
final_df.nunique()

jobma_catcher_id                  4461
is_premium                           2
subscription_status                  2
company_size                         5
total_sub                           19
is_unlimited                         2
subscription_amount_in_dollars     851
number_of_subscriptions             34
number_of_invitations              125
job_posted                          50
number_of_kits                      56
number_of_recorded_interviews       88
number_of_live_interviews           12
days_since_last_login                2
dtype: int64

In [91]:
final_df.head()

,jobma_catcher_id,is_premium,subscription_status,company_size,total_sub,is_unlimited,subscription_amount_in_dollars,number_of_subscriptions,number_of_invitations,job_posted,number_of_kits,number_of_recorded_interviews,number_of_live_interviews,days_since_last_login
0,2656,0,0,1-25,1,1,175.994368,1.0,4.0,1.0,2.0,1.0,NaN,More than 1 Year
1,2935,0,1,26-100,0,0,0.623020,1.0,NaN,NaN,NaN,NaN,NaN,More than 1 Year
2,2937,0,1,101-500,0,0,1.384489,1.0,NaN,NaN,NaN,NaN,NaN,More than 1 Year
3,2938,0,0,26-100,0,0,375.008213,3.0,NaN,1.0,NaN,NaN,NaN,More than 1 Year
4,2939,0,1,26-100,0,0,138.448903,1.0,NaN,1.0,NaN,NaN,NaN,More than 1 Year

In [92]:
final_df.nunique()

jobma_catcher_id                  4461
is_premium                           2
subscription_status                  2
company_size                         5
total_sub                           19
is_unlimited                         2
subscription_amount_in_dollars     851
number_of_subscriptions             34
number_of_invitations              125
job_posted                          50
number_of_kits                      56
number_of_recorded_interviews       88
number_of_live_interviews           12
days_since_last_login                2
dtype: int64

In [93]:
final_df[final_df['number_of_subscriptions']==116]

,jobma_catcher_id,is_premium,subscription_status,company_size,total_sub,is_unlimited,subscription_amount_in_dollars,number_of_subscriptions,number_of_invitations,job_posted,number_of_kits,number_of_recorded_interviews,number_of_live_interviews,days_since_last_login
1534,5322,0,1,1-25,1,0,40011.732958,116.0,NaN,NaN,NaN,NaN,NaN,More than 1 Year

In [94]:
final_df.columns.tolist()

['jobma_catcher_id',
 'is_premium',
 'subscription_status',
 'company_size',
 'total_sub',
 'is_unlimited',
 'subscription_amount_in_dollars',
 'number_of_subscriptions',
 'number_of_invitations',
 'job_posted',
 'number_of_kits',
 'number_of_recorded_interviews',
 'number_of_live_interviews',
 'days_since_last_login']

In [95]:
final_df.isnull().sum()

jobma_catcher_id                     0
is_premium                           0
subscription_status                  0
company_size                         2
total_sub                            0
is_unlimited                        85
subscription_amount_in_dollars       3
number_of_subscriptions              3
number_of_invitations             3634
job_posted                        3581
number_of_kits                    3446
number_of_recorded_interviews     3831
number_of_live_interviews         4432
days_since_last_login                1
dtype: int64

# Processing

In [97]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4461 entries, 0 to 4460
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                4461 non-null   int64
 1   is_premium                      4461 non-null   int64
 2   subscription_status             4461 non-null   int64
 3   company_size                    4459 non-null   object
 4   total_sub                       4461 non-null   int32
 5   is_unlimited                    4376 non-null   object
 6   subscription_amount_in_dollars  4458 non-null   float64
 7   number_of_subscriptions         4458 non-null   float64
 8   number_of_invitations           827 non-null    float64
 9   job_posted                      880 non-null    float64
 10  number_of_kits                  1015 non-null   float64
 11  number_of_recorded_interviews   630 non-null    float64
 12  number_of_live_interviews       29 non-null     float64
 13  days_since_last_login           4460 non-null   category
dtypes: category(1), float64(7), int32(1), int64(3), object(2)
memory usage: 440.3+ KB

In [98]:
# for col in final_df.columns:
#     if final_df[col].dtype == 'object':
#         mode_value = final_df[col].mode()[0]
#         final_df[col].fillna(mode_value, inplace=True)
#     elif final_df[col].dtype == 'int64':
#         final_df[col].fillna(0, inplace=True)
#     elif final_df[col].dtype == 'float64':
#         final_df[col].fillna(0.0, inplace=True)

In [99]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4461 entries, 0 to 4460
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                4461 non-null   int64
 1   is_premium                      4461 non-null   int64
 2   subscription_status             4461 non-null   int64
 3   company_size                    4459 non-null   object
 4   total_sub                       4461 non-null   int32
 5   is_unlimited                    4376 non-null   object
 6   subscription_amount_in_dollars  4458 non-null   float64
 7   number_of_subscriptions         4458 non-null   float64
 8   number_of_invitations           827 non-null    float64
 9   job_posted                      880 non-null    float64
 10  number_of_kits                  1015 non-null   float64
 11  number_of_recorded_interviews   630 non-null    float64
 12  number_of_live_interviews       29 non-null     float64
 13  days_since_last_login           4460 non-null   category
dtypes: category(1), float64(7), int32(1), int64(3), object(2)
memory usage: 440.3+ KB

In [100]:
final_df.fillna({
    'is_premium':0,
    'subscription_status':1,
    'company_size':'More than 1000',
    'total_sub':0,
    'is_unlimited': 1,
    'subscription_amount_in_dollars': 0,
    'number_of_subscriptions': 0,
    'number_of_invitations': 0,
    'job_posted': 0,
    'number_of_kits': 0,
    'number_of_recorded_interviews': 0,
    'number_of_live_interviews': 0,
    'days_since_last_login': 'More than 1 Year'
}, inplace=True)

In [101]:
''' Dtype Conversion '''

final_df['number_of_subscriptions'] = final_df['number_of_subscriptions'].astype(int)
final_df['number_of_invitations'] = final_df['number_of_invitations'].astype(int)
final_df['job_posted'] = final_df['job_posted'].astype(int)
final_df['number_of_kits'] = final_df['number_of_kits'].astype(int)
final_df['number_of_recorded_interviews'] = final_df['number_of_recorded_interviews'].astype(int)
final_df['number_of_live_interviews'] = final_df['number_of_live_interviews'].astype(int)

In [102]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4461 entries, 0 to 4460
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   jobma_catcher_id                4461 non-null   int64
 1   is_premium                      4461 non-null   int64
 2   subscription_status             4461 non-null   int64
 3   company_size                    4461 non-null   object
 4   total_sub                       4461 non-null   int32
 5   is_unlimited                    4461 non-null   int64
 6   subscription_amount_in_dollars  4461 non-null   float64
 7   number_of_subscriptions         4461 non-null   int32
 8   number_of_invitations           4461 non-null   int32
 9   job_posted                      4461 non-null   int32
 10  number_of_kits                  4461 non-null   int32
 11  number_of_recorded_interviews   4461 non-null   int32
 12  number_of_live_interviews       4461 non-null   int32
 13  days_since_last_login           4461 non-null   category
dtypes: category(1), float64(1), int32(7), int64(4), object(1)
memory usage: 335.8+ KB

In [103]:
final_df.isnull().sum()

jobma_catcher_id                  0
is_premium                        0
subscription_status               0
company_size                      0
total_sub                         0
is_unlimited                      0
subscription_amount_in_dollars    0
number_of_subscriptions           0
number_of_invitations             0
job_posted                        0
number_of_kits                    0
number_of_recorded_interviews     0
number_of_live_interviews         0
days_since_last_login             0
dtype: int64

In [104]:
final_df['is_premium'].value_counts()

is_premium
0    3482
1     979
Name: count, dtype: int64

# Exporting

In [106]:
filtered_df = final_df[(final_df != 0).all(axis=1)]
filtered_df.iloc[0,:]

jobma_catcher_id                              3206
is_premium                                       1
subscription_status                              1
company_size                                  1-25
total_sub                                        2
is_unlimited                                     1
subscription_amount_in_dollars               125.0
number_of_subscriptions                          1
number_of_invitations                           18
job_posted                                       3
number_of_kits                                   3
number_of_recorded_interviews                    3
number_of_live_interviews                        1
days_since_last_login             More than 1 Year
Name: 188, dtype: object

In [107]:
final_df.shape

(4461, 14)

In [108]:
# final_df.to_csv("experiment_data1.csv", index=False)

In [221]:
final_df['days_since_last_login'].unique()

['More than 1 Year', '6-12 Months']
Categories (6, object): ['Less than 1 Week' < '1-4 Weeks' < '1-3 Months' < '3-6 Months' < '6-12 Months' < 'More than 1 Year']

In [109]:
final_df.columns.tolist()

['jobma_catcher_id',
 'is_premium',
 'subscription_status',
 'company_size',
 'total_sub',
 'is_unlimited',
 'subscription_amount_in_dollars',
 'number_of_subscriptions',
 'number_of_invitations',
 'job_posted',
 'number_of_kits',
 'number_of_recorded_interviews',
 'number_of_live_interviews',
 'days_since_last_login']